<div class="content-block colors-block bd-content">
  <h2 class="mb-2" id="brandColors">Brand Colors<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#brandColors" style="padding-left: 0.375em;"></a></h2>
  <div class="mt-showcase my-4">
    <ul class="colors-group">

      <li class="list-group-item">
        <div class="btn btn-primary color-btn mb-3"></div>
        <h1 class="mb-2">Primary</h1>
        <h2>#00818E</h2>
      </li>

      <li class="list-group-item">
        <div class="btn btn-secondary color-btn mb-3"></div>
        <h1 class="mb-2">Secondary</h1>
        <h2>#F9B400</h2>
      </li>

      <li class="list-group-item">
        <div class="btn btn-tertiary color-btn mb-3"></div>
        <h1 class="mb-2">Tertiary</h1>
        <h2>#80BFC4</h2>
      </li>

      <li class="list-group-item">
        <div class="btn btn-primary-dark color-btn mb-3"></div>
        <h1 class="mb-2">Primary Dark</h1>
        <h2>#163359</h2>
      </li>

      <li class="list-group-item">
        <div class="btn btn-light color-btn border border-gray mb-3"></div>
        <h1 class="mb-2">Background</h1>
        <h2>#F6F9FD</h2>
      </li>

    </ul>
  </div>
</div>

