<div class="content-block ui-components-navigation-bars-block bd-content">

  <h1 class="bd-title" id="content">Place Holders</h1>

  <div class="my-5">

    <h2 class="mb-5" id="placeHolders">Example<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#placeHolders" style="padding-left: 0.375em;"></a></h2>

    <div class="content-container mb-4">

      <h4 class="mt-5 mb-3" id="placeHolderImages">Images<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#placeHolderImages" style="padding-left: 0.375em;"></a></h4>

      <div class="bd-example mt-showcase">

      </div>

    </div>

  </div>

</div>
