<div class="content-block ui-components-toggles-block bd-content">

  <h1 class="bd-title" id="content">Stepper</h1>

  <div class="my-5">

    <h2 class="mb-2" id="stepper">Example<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#stepper" style="padding-left: 0.375em;"></a></h2>

    <div class="content-container">

      <h4 class="mt-5 mb-3" id="steppers">Steppers<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#steppers" style="padding-left: 0.375em;"></a></h4>

      <div class="bd-example mt-showcase">
        <div class="stepper stepper-default">
          <span class="step-item active">1</span>
          <span class="step-item">2</span>
          <span class="step-item">3</span>
        </div>
      </div>

      <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
      <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"stepper stepper-default"</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"step-item active"</span><span class="p">&gt;</span>1<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"step-item"</span><span class="p">&gt;</span>2<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"step-item"</span><span class="p">&gt;</span>3<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>

    </div>

    <h4 class="mt-5 mb-3" id="iconSteppers">Icon Steppers<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#iconSteppers" style="padding-left: 0.375em;"></a></h4>

    <div class="bd-example mt-showcase">
      <div class="stepper stepper-icon">
        <span class="step-item icon-fi-rr-home active"></span>
        <span class="step-item icon-fi-rr-home"></span>
        <span class="step-item icon-fi-rr-home"></span>
      </div>
    </div>

    <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
    <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"stepper stepper-icon"</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"step-item icon-fi-rr-home active"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"step-item icon-fi-rr-home"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"step-item icon-fi-rr-home"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>

<h4 class="mt-5 mb-3" id="stepperHorizontal">Stepper Horizontal<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#stepperHorizontal" style="padding-left: 0.375em;"></a></h4>

<div class="bd-example mt-showcase">
  <div class="stepper-wrapper" id="stepper-horizontal">
    <div class="stepper">
      <span class="step-item">1</span>
      <span class="step-item">2</span>
      <span class="step-item">3</span>
    </div>
    <div class="tabs">
      <div class="tab">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae congue ante
        <div class="button-wrapper">
          <div class="btn btn-outline-primary next-btn p-2">Next</div>
        </div>
      </div>
      <div class="tab">
        Sed rutrum velit tellus. In tristique felis nulla, at luctus purus lacinia
        <div class="button-wrapper">
          <div class="btn btn-outline-primary prev-btn p-2">Previous</div>
          <div class="btn btn-outline-primary next-btn p-2 ms-3">Next</div>
        </div>
      </div>
      <div class="tab">
        Morbi tellus mi, bibendum at semper non, gravida ut turpis. Nulla consequat vehicula semper
        <div class="button-wrapper">
          <div class="btn btn-outline-primary prev-btn p-2">Previous</div>
          <div class="btn btn-outline-primary submit-btn p-2 ms-3">Complete</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
  <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
  <span class="nx">$(<span class="s1">'#stepper-horizontal'</span>).<span class="kd">stepper();</span></span></code></pre></div>
</div>

<div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
<div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"stepper-wrapper"</span> <span class="na">id</span><span class="o">=</span><span class="s">"stepper-horizontal"</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"stepper"</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"step-item"</span><span class="p">&gt;</span>1<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"step-item"</span><span class="p">&gt;</span>2<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"step-item"</span><span class="p">&gt;</span>3<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"tabs"</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"tab"</span><span class="p">&gt;</span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae congue ante
      <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"button-wrapper"</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-outline-primary next-btn p-2"</span><span class="p">&gt;</span>Next<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
      <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"tab"</span><span class="p">&gt;</span>
      Sed rutrum velit tellus. In tristique felis nulla, at luctus purus lacinia
      <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"button-wrapper"</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-outline-primary prev-btn p-2"</span><span class="p">&gt;</span>Previous<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-outline-primary next-btn p-2 ms-3"</span><span class="p">&gt;</span>Next<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
      <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"tab"</span><span class="p">&gt;</span>
      Morbi tellus mi, bibendum at semper non, gravida ut turpis. Nulla consequat vehicula semper
      <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"button-wrapper"</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-outline-primary prev-btn p-2"</span><span class="p">&gt;</span>Previous<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-outline-primary submit-btn p-2 ms-3"</span><span class="p">&gt;</span>Complete<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
      <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
</code></pre></div>


  </div>

<h4 class="mt-5 mb-3" id="stepperVertical">Stepper Vertical<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#stepperVertical" style="padding-left: 0.375em;"></a></h4>

<div class="bd-example mt-showcase">
  <div class="stepper-wrapper vertical" id="stepper-vertical">
    <div class="stepper">
      <span class="step-item">1</span>
      <span class="step-item">2</span>
      <span class="step-item">3</span>
    </div>
    <div class="tabs">
      <div class="tab">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae congue ante
        <div class="button-wrapper">
          <div class="btn btn-outline-primary next-btn p-2">Next</div>
        </div>
      </div>
      <div class="tab">
        Sed rutrum velit tellus. In tristique felis nulla, at luctus purus lacinia
        <div class="button-wrapper">
          <div class="btn btn-outline-primary prev-btn p-2">Previous</div>
          <div class="btn btn-outline-primary next-btn p-2 ms-3">Next</div>
        </div>
      </div>
      <div class="tab">
        Morbi tellus mi, bibendum at semper non, gravida ut turpis. Nulla consequat vehicula semper
        <div class="button-wrapper">
          <div class="btn btn-outline-primary prev-btn p-2">Previous</div>
          <div class="btn btn-outline-primary submit-btn p-2 ms-3">Complete</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
  <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
  <span class="nx">$(<span class="s1">'#stepper-vertical'</span>).<span class="kd">stepper();</span></span></code></pre></div>
</div>

<div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
<div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"stepper-wrapper vertical"</span> <span class="na">id</span><span class="o">=</span><span class="s">"stepper-vertical"</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"stepper"</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"step-item"</span><span class="p">&gt;</span>1<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"step-item"</span><span class="p">&gt;</span>2<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"step-item"</span><span class="p">&gt;</span>3<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"tabs"</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"tab"</span><span class="p">&gt;</span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae congue ante
      <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"button-wrapper"</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-outline-primary next-btn p-2"</span><span class="p">&gt;</span>Next<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
      <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"tab"</span><span class="p">&gt;</span>
      Sed rutrum velit tellus. In tristique felis nulla, at luctus purus lacinia
      <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"button-wrapper"</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-outline-primary prev-btn p-2"</span><span class="p">&gt;</span>Previous<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-outline-primary next-btn p-2 ms-3"</span><span class="p">&gt;</span>Next<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
      <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"tab"</span><span class="p">&gt;</span>
      Morbi tellus mi, bibendum at semper non, gravida ut turpis. Nulla consequat vehicula semper
      <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"button-wrapper"</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-outline-primary prev-btn p-2"</span><span class="p">&gt;</span>Previous<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-outline-primary submit-btn p-2 ms-3"</span><span class="p">&gt;</span>Complete<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
      <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
</code></pre></div>

</div>
