<div class="content-block ui-components-toggles-block bd-content">

  <h1 class="bd-title" id="content">Stepper</h1>

  <div class="my-5">

    <h2 class="mb-2" id="stepper">Example<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#stepper" style="padding-left: 0.375em;"></a></h2>

    <div class="content-container">

      <h4 class="mt-5 mb-3" id="steppers">Steppers<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#steppers" style="padding-left: 0.375em;"></a></h4>

      <div class="mt-showcase">
        <ul class="steppers mb-4">
          <li class="step-item active">1</li>
          <li class="step-item">2</li>
          <li class="step-item">3</li>
        </ul>
        <ul class="steppers mb-3">
          <li class="step-item icon-fi-sr-home active"></li>
          <li class="step-item icon-fi-sr-home"></li>
          <li class="step-item icon-fi-sr-home"></li>
        </ul>
      </div>

    </div>

  </div>

</div>
