<div class="content-block colors-block bd-content">
  <h2 class="mb-2" id="stateColors">State Colors<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#stateColors" style="padding-left: 0.375em;"></a></h2>
  <div class="mt-showcase mt-4">
    <ul class="colors-group">

      <li class="list-group-item">
        <div class="alert alert-info mb-2 text-center">Info</div>
        <p class="fs-7 mb-1">Background: #D3E0FC</p>
        <p class="fs-7">Text: #0D6EFD</p>
      </li>

      <li class="list-group-item">
        <div class="alert alert-success mb-2 text-center">Success</div>
        <p class="fs-7 mb-1">Background: #D6E6DF</p>
        <p class="fs-7">Text: #265035</p>
      </li>

      <li class="list-group-item">
        <div class="alert alert-danger mb-2 text-center">Error</div>
        <p class="fs-7 mb-1">Background: #F3D8DB</p>
        <p class="fs-7">Text: #7A282B</p>
      </li>

      <li class="list-group-item">
        <div class="alert alert-warning mb-2 text-center">Warning</div>
        <p class="fs-7 mb-1">Background: #FDF3D1</p>
        <p class="fs-7">Text: #635019</p>
      </li>

    </ul>


  </div>
</div>

