<div class="content-block colors-block bd-content">
  <h2 class="mb-2" id="stateColors">State Colors<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#stateColors" style="padding-left: 0.375em;"></a></h2>
  <div class="mt-showcase mt-4">
    <ul class="colors-group">

      <li class="list-group-item">
        <div class="btn btn-info color-btn mb-3"></div>
        <h1 class="mb-2">Primary</h1>
        <h2>#00818E</h2>
      </li>

      <li class="list-group-item">
        <div class="btn btn-success color-btn mb-3"></div>
        <h1 class="mb-2">Secondary</h1>
        <h2>#F9B400</h2>
      </li>

      <li class="list-group-item">
        <div class="btn btn-danger color-btn mb-3"></div>
        <h1 class="mb-2">Tertiary</h1>
        <h2>#80BFC4</h2>
      </li>

      <li class="list-group-item">
        <div class="btn btn-warning color-btn mb-3"></div>
        <h1 class="mb-2">Primary Dark</h1>
        <h2>#163359</h2>
      </li>


    </ul>


  </div>
</div>

