<div class="content-block colors-block bd-content">

  <h1 class="bd-title" id="content">Colors</h1>
  <h4 class="mb-5">Rationale behind the theme is to bring in emotions like Trust, Peaceful, Optimism based on psychological colour theory</h4>

  <div class="color-container">

    <div class="colors-box">
      <h2 class="mb-2" id="brandColors">Brand Colors<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#brandColors" style="padding-left: 0.375em;"></a></h2>
      <div class="mt-showcase mt-4">
        <ul class="colors-group">

          <li class="list-group-item">
            <div class="btn bg-primary color-bg mb-3"></div>
            <h1 class="mb-2">Primary</h1>
            <h2>#00818E</h2>
          </li>

          <li class="list-group-item">
            <div class="btn bg-secondary color-bg mb-3"></div>
            <h1 class="mb-2">Secondary</h1>
            <h2>#F9B400</h2>
          </li>

          <li class="list-group-item">
            <div class="btn bg-tertiary color-bg mb-3"></div>
            <h1 class="mb-2">Tertiary</h1>
            <h2>#80BFC4</h2>
          </li>

          <li class="list-group-item">
            <div class="btn bg-primary-dark color-bg mb-3"></div>
            <h1 class="mb-2">Primary Dark</h1>
            <h2>#163359</h2>
          </li>

          <li class="list-group-item">
            <div class="btn bg-light color-bg border border-gray mb-3"></div>
            <h1 class="mb-2">Background</h1>
            <h2>#F6F9FD</h2>
          </li>

        </ul>
      </div>
    </div>

<div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
<div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary"</span><span class="p">&gt;</span>Primary<span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-secondary"</span><span class="p">&gt;</span>Secondary<span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-tertiary"</span><span class="p">&gt;</span>Tertiary<span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
</code></pre></div>

  </div>

  <div class="color-container">

    <div class="colors-box mt-5">
      <h2 class="mb-2" id="stateColors">State Colors<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#stateColors" style="padding-left: 0.375em;"></a></h2>
      <div class="mt-showcase mt-4">
        <ul class="colors-group">

          <li class="list-group-item">
            <div class="alert alert-info mb-2 text-center">Info</div>
            <p class="fs-7 mb-1">Background: #D3E0FC</p>
            <p class="fs-7 mb-0">Text: #0D6EFD</p>
          </li>

          <li class="list-group-item">
            <div class="alert alert-success mb-2 text-center">Success</div>
            <p class="fs-7 mb-1">Background: #D6E6DF</p>
            <p class="fs-7 mb-0">Text: #265035</p>
          </li>

          <li class="list-group-item">
            <div class="alert alert-danger mb-2 text-center">Danger</div>
            <p class="fs-7 mb-1">Background: #F3D8DB</p>
            <p class="fs-7 mb-0">Text: #7A282B</p>
          </li>

          <li class="list-group-item">
            <div class="alert alert-warning mb-2 text-center">Warning</div>
            <p class="fs-7 mb-1">Background: #FDF3D1</p>
            <p class="fs-7 mb-0">Text: #635019</p>
          </li>

        </ul>
      </div>
    </div>

<div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
<div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"alert alert-danger"</span> <span class="na">role</span><span class="o">=</span><span class="s">"alert"</span><span class="p">&gt;</span>
A simple danger alert—check it out!
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"alert alert-warning"</span> <span class="na">role</span><span class="o">=</span><span class="s">"alert"</span><span class="p">&gt;</span>
A simple warning alert—check it out!
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"alert alert-info"</span> <span class="na">role</span><span class="o">=</span><span class="s">"alert"</span><span class="p">&gt;</span>
A simple info alert—check it out!
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
</code></pre></div>

  </div>

  <div class="color-container">

    <div class="color-box mt-5">
      <h2 class="mb-2" id="utilityColors">Utility Colors<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#utilityColors" style="padding-left: 0.375em;"></a></h2>
      <div class="mt-showcase mt-4">
        <ul class="colors-group">

          <li class="list-group-item">
            <div class="btn bg-dark color-bg mb-3"></div>
            <p class="mb-0 text-dark fw-medium">Text</p>
            <p class="fs-7 mb-0">#434343</p>
          </li>

          <li class="list-group-item">
            <div class="btn bg-gray-dark color-bg mb-3"></div>
            <p class="mb-0 text-dark fw-medium">Text Light</p>
            <p class="fs-7 mb-0">#999999</p>
          </li>

          <li class="list-group-item">
            <div class="btn bg-gray color-bg mb-3"></div>
            <p class="mb-0 text-dark fw-medium">Stroke</p>
            <p class="fs-7 mb-0">#CFD4D9</p>
          </li>

          <li class="list-group-item">
            <div class="btn bg-gray-light color-bg mb-3"></div>
            <p class="mb-0 text-dark fw-medium">Stroke Light</p>
            <p class="fs-7 mb-0">#EEEEEE</p>
          </li>

        </ul>
      </div>
    </div>

<div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
<div class="highlight">
<pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"bg-gray-light"</span><span class="p">&gt;</span>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, nesciunt suscipit. Aperiam minima, dolor porro
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>

  </div>

</div>
