<div class="content-block forms-block bd-content">

  <h1 class="bd-title" id="content">Form Control (Default)</h1>

  <div class="my-5">
    <h4 class="mb-4">Input with Label (Default)</h4>

    <div class="row">

      <div class="col-md-6">
        <div class="input-container mb-4  me-3 mt-showcase">
          <p class="fw-medium title">Text Input Form + Label + Status with Icon (Right)</p>
          <div class="input-box">
            <label class="form-label">Label</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              <span class="input-group-text icon-fi-rr-angle-small-down" id="basic-addon1"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Text Input Form + Label + Status with Icon (Left)</p>
          <div class="input-box">
            <label class="form-label">Label</label>
            <div class="input-group">
              <span class="input-group-text icon-fi-rr-search" id="basic-addon1"></span>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Text Input Form + Label (No Status)</p>
          <div class="input-box">
            <div class="mb-3">
              <label class="form-label">Label</label>
              <input type="text" class="form-control" placeholder="Username">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Numeric Input Form + Label (No Status)</p>
          <div class="input-box">
            <div class="mb-3">
              <label class="form-label">Label</label>
              <input type="number" class="form-control" placeholder="Integer">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="my-5">

    <h4 class="mb-4">Input with Label (Large)</h4>

    <div class="row">

      <div class="col-md-6">
        <div class="input-container mb-4  me-3 mt-showcase">
          <p class="fw-medium title">Text Input Form + Label + Status with Icon (Right)</p>
            <div class="input-box lg">
              <label class="form-label">Label</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                <span class="input-group-text icon-fi-rr-angle-small-down" id="basic-addon1"></span>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Text Input Form + Label + Status with Icon (Left)</p>

          <div class="input-box lg">
            <label class="form-label">Label</label>
            <div class="input-group icon">
              <span class="input-group-text icon-fi-rr-search" id="basic-addon1"></span>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Text Input Form + Label (No Status)</p>
          <div class="input-box lg">
            <div class="mb-3">
              <label class="form-label">Label</label>
              <input type="text" class="form-control" placeholder="Username">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Numeric Input Form + Label (No Status)</p>
          <div class="input-box lg">
            <div class="mb-3">
              <label class="form-label">Label</label>
              <input type="number" class="form-control" placeholder="Integer">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="my-5">

    <h4 class="mb-4">Input without Label (Default)</h4>

    <div class="row">

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Text Input Form + Status with Icon (Right) (No Label)</p>
          <div class="input-box">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              <span class="input-group-text icon-fi-rr-angle-small-down" id="basic-addon1"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Text Input Form + Status with Icon (Left) (No Label)</p>
          <div class="input-box">
            <div class="input-group icon">
              <span class="input-group-text icon-fi-rr-search" id="basic-addon1"></span>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Text Input Form + Status with Icon (Left) (No Label)</p>
          <div class="input-box">
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Username">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Numeric Input Form (No Label and Status)</p>
          <div class="input-box">
            <div class="mb-3">
              <input type="number" class="form-control" placeholder="Integer">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="my-5">

    <h4 class="mb-4">Input without Label (Large)</h4>

    <div class="row">

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Text Input Form + Status with Icon (Right) (No Label)</p>
          <div class="input-box lg">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              <span class="input-group-text icon-fi-rr-angle-small-down" id="basic-addon1"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Text Input Form + Status with Icon (Left) (No Label)</p>
          <div class="input-box lg">
            <div class="input-group">
              <span class="input-group-text icon-fi-rr-search" id="basic-addon1"></span>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Text Input Form + Status with Icon (Left) (No Label)</p>
          <div class="input-box lg">
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Username">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Numeric Input Form (No Label and Status)</p>
          <div class="input-box lg">
            <div class="mb-3">
              <input type="number" class="form-control" placeholder="Integer">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <h1 class="bd-title" id="content">Form Control</h1>

  <div class="my-5">
    <h4 class="mb-4">Form States</h4>
    <div class="row">

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Input Form (Normal State)</p>
          <div class="input-box">
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Placeholder">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Input Form (Disabled)</p>
          <div class="input-box">
            <div class="mb-3">
              <input type="text" class="form-control disabled" placeholder="Placeholder">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="my-5">

    <h4 class="mb-4">Alerts</h4>

    <div class="row">

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Input Form (Success)</p>
          <div class="input-box">
            <div class="mb-3">
              <label class="form-label">Label</label>
              <input type="text" class="form-control alert alert-success" placeholder="Placeholder">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Input Form (Warning)</p>
          <div class="input-box alert-box">
            <div class="mb-3">
              <label class="form-label">Label</label>
              <input type="text" class="form-control alert alert-warning" placeholder="Placeholder">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Input Form (Error)</p>
          <div class="input-box">
            <div class="mb-3">
              <label class="form-label">Label</label>
              <input type="text" class="form-control alert alert-danger" placeholder="Placeholder">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="my-5">
    <h4 class="mb-4">Password</h4>
    <div class="row">

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Password Input Form + Label + Status</p>
          <div class="input-box">
            <div class="mb-3">
              <input type="password" class="form-control" placeholder="Placeholder">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="my-5">
    <h4 class="mb-4">Text Area</h4>
    <div class="row">

      <div class="col-md-6">
        <div class="input-container mb-4 me-3 mt-showcase">
          <p class="fw-medium title">Large Text Input</p>
          <div class="input-box">
            <div class="mb-3">
              <textarea class="form-control" placeholder="Type something"></textarea>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
  <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">dddd
  </code></pre></div> -->

</div>
