@import "~src/scss/abstract/abstract";

.ui-components-cards-block {
  .card {
    width: 600px;
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
    @include visual-breakpoint('lt-lg') {
     width: 100%;
    }
  }
}

