<div class="visual-guide-wrapper">

  <div class="visual-guide-header d-flex align-items-center d-md-none">

    <button class="btn mt-sidebar-toggle d-md-none py-0 px-1 ms-3 order-3 collapsed ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#mt-docs-nav" aria-controls="mt-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-expand" fill="currentColor" viewBox="0 0 16 16">
        <title>Expand</title>
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10z"></path>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-collapse" fill="currentColor" viewBox="0 0 16 16">
        <title>Collapse</title>
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zm7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0zm-.5 11.707l-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0v-3.793z"></path>
      </svg>
    </button>

  </div>

  <div class="container-xxl">
    <div class="col-sm-12">
      <div class="visual-content-block">
        <aside class="mt-sidebar">
          <nav class="mt-links collapse" id="mt-docs-nav" aria-label="Docs navigation">
            <ul class="list-unstyled mb-0 py-3 pt-md-1">
              <li class="mb-1">
                <button class="btn d-inline-flex align-items-center rounded" [routerLinkActive]="'active'" data-bs-toggle="collapse" data-bs-target="#typography-collapse" aria-expanded="false" aria-current="true">Typography</button>
                <div class="collapse" id="typography-collapse">
                  <ul class="list-unstyled fw-normal pb-1 small">
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/typography/headers" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded" aria-current="page">H1, H2</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/typography/paragraph" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Paragraph</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/typography/fontsize" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Font-size</a></li>
                  </ul>
                </div>
              </li>

              <li class="mb-1">
                <a routerLink="/visual-guide/colors" [routerLinkActive]="'active'" class="btn no-sub d-inline-flex align-items-center rounded">Colors</a>
              </li>
              <li class="mb-1">
                <a routerLink="/visual-guide/iconography" [routerLinkActive]="'active'" class="btn no-sub d-inline-flex align-items-center rounded">Iconography</a>
              </li>
              <li class="mb-1">
                <button class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#layout-collapse" aria-expanded="false" aria-current="true">
                  Layout
                </button>
                <div class="collapse" id="layout-collapse">
                  <ul class="list-unstyled fw-normal pb-1 small">
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/layout/grid" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}"  class="d-inline-flex align-items-center rounded" aria-current="page">Grid System</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#forms-collapse" aria-expanded="false" aria-current="true">
                  Forms
                </button>
                <div class="collapse" id="forms-collapse">
                  <ul class="list-unstyled fw-normal pb-1 small">
                      <li>
                        <a href="javascript:void(0)" routerLink="/visual-guide/forms/controls" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}"  class="d-inline-flex align-items-center rounded" aria-current="page">Form Control</a>
                      </li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/forms/layout" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}"  class="d-inline-flex align-items-center rounded" aria-current="page">Form Layout</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/forms/validation" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}"  class="d-inline-flex align-items-center rounded" aria-current="page">Form Validations</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#ui-collapse" aria-expanded="false" aria-current="true">
                  UI Components
                </button>
                <div class="collapse" id="ui-collapse">
                  <ul class="list-unstyled fw-normal pb-1 small">
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/accordion" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded" aria-current="page">Accordion</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/alerts" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Alerts </a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/breadcrumb" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Breadcrumb</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/badges" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Badges</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/buttons" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Buttons</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/button-group" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Button group</a></li>
                      <li><a href="javascript:void(0)" class="d-inline-flex align-items-center rounded">Calendar</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/datepicker" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Date Picker</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/cards" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Cards</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/avatar" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Avatar</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/list-group" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">List Group</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/modals" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Modals</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/navs-tabs" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Navs & Tabs</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/range" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Range</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/spinners" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Spinners</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/progress-bar" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Progress Bar</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/toggles" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Toggles</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/tooltip" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Tooltip</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/popover" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Popover</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/scrollbar" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Scroll bar</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/table" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Tables</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/toasts" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Toasts</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/ui-components/pagination" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Pagination</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#wire-collapse" aria-expanded="false" aria-current="true">
                  Wireframy Elements
                </button>
                <div class="collapse" id="wire-collapse">
                  <ul class="list-unstyled fw-normal pb-1 small">
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/wireframy-elements/steppers" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded" aria-current="page">Steppers</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/wireframy-elements/icon-groups" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Icon Groups</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/wireframy-elements/notification" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Notification</a></li>
                      <li><a href="javascript:void(0)" routerLink="/visual-guide/wireframy-elements/chat-bubble" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact:true}" class="d-inline-flex align-items-center rounded">Chat Bubble</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </nav>
        </aside>
        <div class="right-container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
