

//gutter
$grid-gutter-width: 20px;
$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

//Accordion
$accordion-padding-x: 20px;
$accordion-padding-y: 20px;
$accordion-border-radius: 4px;


