
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

//custom colors
$custom-colors: (
  "tertiary": $tertiary,
  "primary-dark": $primary-dark,
  "gray": $gray,
  "gray-dark": $gray-dark,
  "gray-light": $gray-light
) !default;

//merging all colors
$theme-colors: map-merge($custom-colors, $theme-colors);

//alerts themes
$alert-border-scale:-70%; // this variable comes from bootstrap. it works even without declaring

//Info
.alert-info {
  @include alert-variant($info-light, shift-color($info, $alert-border-scale), $info);
}
//Success
.alert-success {
  @include alert-variant($success-light, shift-color($success, $alert-border-scale), $success);
}
//Danger
.alert-danger {
  @include alert-variant($danger-light, shift-color($danger, $alert-border-scale), $danger);
}
//Warning
.alert-warning {
  @include alert-variant($warning-light, shift-color($warning, $alert-border-scale), $warning);
}

