@import './variables';

$utilities: map-merge(
  $utilities,
  (
    "font-weight": (
      property: font-weight,
      class: fw,
      values: (
        medium: $font-weight-medium,
        semibold: $font-weight-semibold
      )
    ),
    "font-size": (
      property: font-size,
      class: fs,
      values: (
        7: $fs-7
      )
    ),
    "background-color": (
      property: background-color,
      class: bg,
      values: $theme-colors
    )
  )
);


