
//font size
$font-h1:24;
$font-h2:20;
$font-base:16;
$font-small:12;

//base colors
$primary:#00818E;
$secondary:#F9B400;
$info:#0D6EFD;
$success:#265035;
$danger:#7A282B;
$warning:#635019;
$light: #F6F9FD;
$dark: #434343;
$gray: #CFD4D9;
$gray-dark: #999999;
$gray-light: #E7EFF3;

//custom colors
$tertiary: #80BFC4;
$primary-dark:#163359;
$info-light:#D3E0FC;
$info-success:#D6E6DF;
$info-error:#F3D8DB;
$info-warning:#FDF3D1;

//font weight
$font-weight-medium: 500;

//font size
$fs-7: 0.75rem;
