<div class="content-block wire-icons-block bd-content">

  <h1 class="bd-title" id="content">Chat Bubble</h1>

  <div class="my-5">

    <h2 class="mb-2" id="chatBubble">Example<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#chatBubble" style="padding-left: 0.375em;"></a></h2>

    <div class="content-container">

      <h4 class="mt-5 mb-4" id="sentMessage">Sent Message (left) and Received Message (right)<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#sentMessage" style="padding-left: 0.375em;"></a></h4>

      <div class="mt-showcase">

        <div class="chat-bubble sent mb-4">

          <div class="chat-container">
            <div class="message">
              Some quick example text to build on the chat content
            </div>
            <div class="profile">
              <img class="align-self-start" src="assets/images/chat-profile-icon.png" alt="">
              <p class="mb-0">Sent</p>
            </div>
          </div>
        </div>

        <div class="chat-bubble received mb-4">
          <div class="chat-container">
            <div class="message">
              Some quick example text to build on the chat content
            </div>
            <div class="profile">
              <img class="align-self-start order-2" src="assets/images/chat-profile-icon.png" alt="">
              <p class="mb-0 order-1">Received</p>
            </div>
          </div>
        </div>

      </div>

      <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
      <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"chat-bubble"</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"chat-container sent"</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"message"</span><span class="p">&gt;</span>
      Some quick example text to build on the chat content
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"profile"</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">img</span> <span class="na">src</span><span class="o">=</span><span class="s">"..."</span> <span class="na">class</span><span class="o">=</span><span class="s">"align-self-start"</span> <span class="na">alt</span><span class="o">=</span><span class="s">"..."</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">p</span> <span class="na">class</span><span class="o">=</span><span class="s">"mb-0"</span><span class="p">&gt;</span>Sent<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"chat-bubble"</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"chat-container received"</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"message"</span><span class="p">&gt;</span>
      Some quick example text to build on the chat content
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"profile"</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">img</span> <span class="na">src</span><span class="o">=</span><span class="s">"..."</span> <span class="na">class</span><span class="o">=</span><span class="s">"order-2 align-self-start"</span> <span class="na">alt</span><span class="o">=</span><span class="s">"..."</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">p</span> <span class="na">class</span><span class="o">=</span><span class="s">"order-1 mb-0"</span><span class="p">&gt;</span>Sent<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>

    </div>

  </div>

</div>
