<div class="content-block ui-components-modal-block bd-content">

  <h1 class="bd-title" id="content">Spinners</h1>
  <h4 class="fw-normal">Indicate the loading state of a component or page with Bootstrap spinners, built entirely with HTML, CSS, and no JavaScript.</h4>

  <div class="my-5">

    <h2 class="mb-5" id="spinners">Examples<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#spinners" style="padding-left: 0.375em;"></a></h2>

    <div class="content-container mb-4">

      <h4 class="mb-3" id="borderSpinner">Border spinner<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#borderSpinner" style="padding-left: 0.375em;"></a></h4>

      <div class="bd-example mt-showcase">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
      <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"spinner-border"</span> <span class="na">role</span><span class="o">=</span><span class="s">"status"</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"visually-hidden"</span><span class="p">&gt;</span>Loading...<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>

    </div>


    <div class="content-container mb-4">

      <h4 class="mb-3" id="SpinnerColor">Colors<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#SpinnerColor" style="padding-left: 0.375em;"></a></h4>

      <div class="bd-example mt-showcase">

        <div class="spinner-border text-primary me-3" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-border text-secondary me-3" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>

      </div>

      <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
      <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"spinner-border text-primary"</span> <span class="na">role</span><span class="o">=</span><span class="s">"status"</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"visually-hidden"</span><span class="p">&gt;</span>Loading...<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"spinner-border text-secondary"</span> <span class="na">role</span><span class="o">=</span><span class="s">"status"</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"visually-hidden"</span><span class="p">&gt;</span>Loading...<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

    </code></pre></div>

    </div>

  </div>

</div>
