<div class="content-block ui-components-scrollbar-block bd-content">

  <h1 class="bd-title" id="content">Scroll Bar</h1>

  <div class="my-5">

    <h4 class="mt-5 mb-3" id="verticalScrollbar">Vertical Scrollbar<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#verticalScrollbar" style="padding-left: 0.375em;"></a></h4>

    <div class="row">

      <div class="col-md-8 mt-showcase">
        <div class="scroller vertical border p-5">
          <p class="fw-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque tempore natus eius molestiae atque aspernatur commodi nobis ipsa rem eos. Accusantium repudiandae quidem assumenda eum eos laborum dolore nulla a?
            Ipsam architecto minima modi, dicta quas minus. Odit hic in distinctio. Incidunt, sunt hic possimus magnam quaerat, officia sint consequatur voluptatum, quibusdam in praesentium porro voluptas! Nihil eum dignissimos aliquid.
            Aliquam molestias velit aliquid atque eius nulla quod facere dolorem. Eveniet corrupti quos aliquid? Impedit sapiente ipsa, maiores quas nulla quasi ad omnis aperiam aliquid blanditiis, ullam soluta error odio.
            Adipisci repellendus possimus dignissimos reprehenderit? Doloribus cupiditate non, magnam ipsum modi amet laudantium commodi quisquam ipsam placeat excepturi voluptatibus pariatur ab nesciunt recusandae quas praesentium mollitia minus esse, dolor perferendis.
            Iure aliquam optio necessitatibus fuga omnis officiis consequatur quia dolores distinctio, tempore doloremque porro expedita quos.</p>
        </div>
      </div>

      <div class="mt-3">
        <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
        <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="p">.scroller.vertical {{'{'}} height: <span class="s1">300px</span>; overflow-y: <span class="s1">scroll</span> {{'}'}}</span></code></pre></div>
      </div>

      <div class="mt-3">
      <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
      <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"scroller vertical border p-5"</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">p</span> <span class="na">class</span><span class="o">=</span><span class="s">"fw-medium"</span><span class="p">&gt;</span>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque tempore natus eius molestiae atque aspernatur commodi nobis ipsa rem eos. Accusantium repudiandae quidem assumenda eum eos laborum dolore nulla a?
    Ipsam architecto minima modi, dicta quas minus. Odit hic in distinctio. Incidunt, sunt hic possimus magnam quaerat, officia sint consequatur voluptatum, quibusdam in praesentium porro voluptas! Nihil eum dignissimos aliquid.
    Aliquam molestias velit aliquid atque eius nulla quod facere dolorem.
  <span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>
      </div>

    </div>
  </div>


  <div class="my-5">
    <h4 class="mt-5 mb-3" id="horizontalScrollbar">Horizontal Scrollbar<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#horizontalScrollbar" style="padding-left: 0.375em;"></a></h4>
    <div class="row">

      <div class="col-md-6 mt-showcase">
        <div class="scroller horizontal border p-5">
          <div class="wrapper">
            <div class="inner">
              <div class="desp">
                <p class="fw-medium">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos tempora aut nihil illum sint qui blanditiis delectus magnam ipsum officia ducimus debitis inventore sunt id, minima odit alias sed eum.
                  Architecto corporis perferendis maiores ipsum porro aliquid, libero, fugit maxime quidem odit veniam quod ullam ea eius quaerat velit, neque omnis! Facilis eum enim nostrum in iure neque ipsam assumenda.
                  Sit pariatur ipsam odit porro unde fugiat veritatis. Hic, unde. Consequuntur dignissimos, placeat perferendis minima facilis doloribus totam veniam vitae officia ullam sint quos recusandae rerum amet sapiente
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
        <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="p">.scroller.horizontal .inner {{'{'}} display: <span class="s1">flex</span>{{'}'}}</span>
<span class="p">.scroller.horizontal .inner .desp {{'{'}} width: <span class="s1">600px</span>; flex-shrink: <span class="s1">0</span> {{'}'}}</span>
         </code></pre></div>
      </div>

      <div class="mt-3">
        <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
        <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"scroller horizontal border p-5"</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"wrapper"</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"inner"</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"desp"</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">p</span> <span class="na">class</span><span class="o">=</span><span class="s">"fw-medium"</span><span class="p">&gt;</span>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos tempora aut nihil illum sint qui blanditiis delectus magnam ipsum officia ducimus debitis inventore sunt id, minima odit alias sed eum.
          Architecto corporis perferendis maiores ipsum porro aliquid, libero, fugit maxime quidem odit veniam quod ullam ea eius quaerat velit, neque omnis! Facilis eum enim nostrum in iure neque ipsam assumenda.
          Sit pariatur ipsam odit porro unde fugiat veritatis. Hic, unde. Consequuntur dignissimos, placeat perferendis minima facilis doloribus totam veniam vitae officia ullam sint quos recusandae rerum amet sapiente
        <span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
      <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        </code></pre></div>
      </div>

    </div>
  </div>


</div>
