<div class="content-block colors-block bd-content">
  <h2 class="mb-2" id="utilityColors">Utility Colors<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#utilityColors" style="padding-left: 0.375em;"></a></h2>
  <div class="mt-showcase my-4">
    <ul class="colors-group">

      <li class="list-group-item">
        <div class="btn bg-dark color-bg mb-3"></div>
        <p class="mb-0 text-dark fw-medium">Text</p>
        <p class="fs-7">#434343</p>
      </li>

      <li class="list-group-item">
        <div class="btn bg-gray-dark color-bg mb-3"></div>
        <p class="mb-0 text-dark fw-medium">Text Light</p>
        <p class="fs-7">#999999</p>
      </li>

      <li class="list-group-item">
        <div class="btn bg-gray color-bg mb-3"></div>
        <p class="mb-0 text-dark fw-medium">Stroke</p>
        <p class="fs-7">#CFD4D9</p>
      </li>

      <li class="list-group-item">
        <div class="btn bg-gray-light color-bg mb-3"></div>
        <p class="mb-0 text-dark fw-medium">Stroke Light</p>
        <p class="fs-7">#EEEEEE</p>
      </li>

    </ul>
  </div>
</div>

