
//for alert box
@mixin alert-variant($background, $border, $color) {
  color: $color;
  background: $background;
  //border-color: $border;
  border-color: transparent;
  .alert-link {
    color: shade-color($color, 20%);
  }
  &:focus {
    box-shadow: 0 0 0 0.25rem rgb($color, 0.25);
  }
}

@mixin toast-variant($background, $border, $color) {
  .toast-header, .toast-body {
    background: rgba($background, 0.2);
  }
  .toast-header {
    border-bottom-color: rgba($border, 0.7);
    .status {
      background: $color;
    }
  }
  .toast-body {
    color: $color;
  }
}

@mixin progress-variant($background, $color) {
  .progress-bar {
    background-color: $background;
    color: $color;
    font-weight: 500;
  }
}


@mixin ft-calc($pixels) {
  font-size: calc($pixels) + px;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
};

@mixin superior-breakpoint($breakpoint) {

  $mediaQuery: map-get($superior-breakpoints, $breakpoint);

  @if ($mediaQuery != null) {

      @media #{$mediaQuery} {
          @content;
      }
  } @else {

      @media #{$breakpoint} {
          @content
      }
  }
}



