
//font size
$font-h1:24;
$font-h2:20;
$font-base:16;
$font-small:12;
$font-big: 30px;

//base colors
$primary:#00818E;
$secondary:#F9B400;
$info:#0D6EFD;
$success:#265035;
$danger:#7A282B;
$warning:#635019;
$light: #F6F9FD;
$dark: #434343;
$gray: #CFD4D9;
$gray-dark: #999999;
$gray-light: #E7EFF3;


//custom colors
$tertiary: #80BFC4;
$primary-dark:#163359;
$info-light:#D3E0FC;
$success-light:#D6E6DF;
$danger-light:#F3D8DB;
$warning-light:#FDF3D1;
$badge-red: #DC3545;
//colors which changes based on theme
$superior-theme: (
  'superior-dark' : (
    'primary': white,
    'secondary': $primary,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    'dark': $gray-dark,
    'light': $primary-dark,
    'red': $badge-red,
  ),
  'superior-light' : (
    'primary': $primary,
    'secondary': $secondary,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    'dark': $dark,
    'light':$light,
    'red': $badge-red
  )
) !default;

//font weight
$font-weight-medium: 500;
$font-weight-semibold: 600;

//font size
$fs-7: 0.75rem;

//form

//input padding

//mobile default
$input-padding-y-mob: 10px;
$input-padding-x-mob: 10px;
$input-font-size-mob: 16px;

//web default
$input-padding-y-web: 12px;
$input-padding-x-web: 12px;
$input-font-size-web: 16px;

//mobile large
$input-padding-y-mob-lg: 10px;
$input-padding-x-mob-lg: 10px;
$input-font-size-mob-lg: 16px;

//web large
$input-padding-y-web-lg: 20px;
$input-padding-x-web-lg: 20px;
$input-font-size-web-lg: 20px;


//label

//mobile default
$form-label-margin-bottom-web: 8px;

//web default
$form-label-margin-bottom-mob: 8px;

//mobile large
$form-label-margin-bottom-mob-lg: 8px;

//web large
$form-label-margin-bottom-web-lg: 10px;

//input status
$input-status-font-size-web: 14px;
$input-status-font-size-mob: 16px;

$input-status-margin-top-web: 8px;
$input-status-margin-top-mob: 8px;

$input-status-font-size-web-lg: 20px;
$input-status-font-size-mob-lg: 16px;

$input-status-margin-top-web-lg: 10px;
$input-status-margin-top-mob-lg: 8px;

//button
$btn-font-size: 16px;
$btn-font-size-lg: 20px;
$btn-font-size-big: 20px;
$btn-border-radius: 4px;

$btn-padding-y: 2px;
$btn-padding-x: 12px;
$btn-padding-y-web-lg: 16px;
$btn-padding-x-web-lg: 16px;

//badge
$badge-font-size: 8px;
$badge-font-size-lg: 10px;
$badge-border-radius: 18px;
$rounded-pill-size: 6px;
$rounded-pill-size-lg: 8px;

//badge btn
$badge-btn-font-size: 12px;
$badge-btn-font-size-lg: 16px;

$badge-btn-padding-y: 2px;
$badge-btn-padding-x: 12px;
$badge-btn-padding-y-web-lg: 4px;
$badge-btn-padding-x-web-lg: 16px;
