
//font size
$font-h1:24;
$font-h2:20;
$font-base:16;
$font-small:12;
$font-big: 30px;

//base colors
$primary:#00818E;
$secondary:#F9B400;
$info:#0D6EFD;
$success:#265035;
$danger:#7A282B;
$warning:#635019;
$light: #F6F9FD;
$dark: #434343;
$gray: #CFD4D9;
$gray-dark: #999999;
$gray-light: #E7EFF3;


//custom colors
$tertiary: #80BFC4;
$primary-dark:#163359;
$info-light:#D3E0FC;
$success-light:#D6E6DF;
$danger-light:#F3D8DB;
$warning-light:#FDF3D1;
$badge-red: #DC3545;
$gray-medium: #c6c6c6;
$lime-green: #16B54F;

//colors which changes based on theme
$superior-theme: (
  'superior-dark' : (
    'primary': white,
    'secondary': $primary,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    'dark': $gray-dark,
    'light': $primary-dark,
    'red': $badge-red,
    'gray': $gray-medium,
    'lime': $lime-green
  ),
  'superior-light' : (
    'primary': $primary,
    'secondary': $secondary,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    'dark': $dark,
    'light':$light,
    'red': $badge-red,
    'gray': $gray-medium,
    'lime': $lime-green
  )
) !default;

//font weight
$font-weight-medium: 500;
$font-weight-semibold: 600;

//font size
$fs-7: 0.75rem;

//form

//input padding

//mobile default
$input-padding-y-mob: 10px;
$input-padding-x-mob: 10px;
$input-font-size-mob: 16px;

//web default
$input-padding-y-web: 12px;
$input-padding-x-web: 12px;
$input-font-size-web: 16px;

//mobile large
$input-padding-y-mob-lg: 10px;
$input-padding-x-mob-lg: 10px;
$input-font-size-mob-lg: 16px;

//web large
$input-padding-y-web-lg: 20px;
$input-padding-x-web-lg: 20px;
$input-font-size-web-lg: 20px;
$input-focus-color: $primary;

//label

//mobile default
$form-label-margin-bottom-web: 8px;

//web default
$form-label-margin-bottom-mob: 8px;

//mobile large
$form-label-margin-bottom-mob-lg: 8px;

//web large
$form-label-margin-bottom-web-lg: 10px;

//input status
$input-status-font-size-web: 14px;
$input-status-font-size-mob: 16px;

$input-status-margin-top-web: 8px;
$input-status-margin-top-mob: 8px;

$input-status-font-size-web-lg: 20px;
$input-status-font-size-mob-lg: 16px;

$input-status-margin-top-web-lg: 10px;
$input-status-margin-top-mob-lg: 8px;

//button
$btn-font-size: 16px;
$btn-font-size-lg: 20px;
$btn-font-size-sm: 12px;
//$btn-font-size-big: 20px;
$btn-border-radius: 4px;

$btn-padding-y: 16px;
$btn-padding-x: 16px;
$btn-padding-y-web-lg: 16px;
$btn-padding-x-web-lg: 16px;
$btn-padding-y-web-sm: 12px;
$btn-padding-x-web-sm: 12px;

//badge
$badge-font-size: 8px;
$badge-font-size-lg: 10px;
$badge-border-radius: 18px;
$rounded-pill-size: 10px;
$rounded-pill-size-lg: 12px;

//badge btn
$badge-btn-font-size: 12px;
$badge-btn-font-size-lg: 16px;

$badge-btn-padding-y: 2px;
$badge-btn-padding-x: 12px;
$badge-btn-padding-y-web-lg: 4px;
$badge-btn-padding-x-web-lg: 16px;

//button group
$btn-group-font-size: 16px;
$btn-group-font-size-lg: 20px;
$btn-group-padding-y: 10px;
$btn-group-padding-x: 30px;

//cards
$card-spacer-x: 30px;
$card-spacer-y: 30px;
$card-title-spacer-y: 30px;
$card-text-spacer-y: 30px;
$card-header-spacer-x: 30px;
$card-header-spacer-y: 15px;

//list group
$list-group-item-padding-y: 20px;
$list-group-item-padding-x: 20px;
$list-group-item-font-size: 20px;

//modals
$modal-header-padding-x: 16px;
$modal-header-padding-y: 16px;

//tables
$table-cell-padding-y: 25px;
$table-cell-padding-x: 20px;
$table-border-color: $gray-light;
$table-th-font-weight: $font-weight-medium;

//pagination
$pagination-hover-bg: $primary;
$pagination-hover-color: white;

//toasts
$toast-padding-x: 16px;
$toast-padding-y: 10px;
