
@include apply-superior using ($colors, $type) {

  $dark: map-get($colors , dark);

  .accordion {
    box-shadow: 0 2px 15px 0 rgba($gray-medium, 0.25);
    .accordion-item {
      border: 1px solid $gray-light;
      .accordion-button {
        color: $dark;
        @extend .fw-medium;
        &:not(.collapsed) {
          @if $type == false {
            background-color: map-get($colors , primary);
            color: white;
          }
        }
      }
    }
  }

  .list-group {
    box-shadow: 0 2px 15px 0 rgba($gray-medium, 0.25);
    .list-group-item {
      border: 1px solid $gray-light;
      @extend .fw-medium;
      font-size: $list-group-item-font-size;
    }
  }

  .pagination {
    .page-item {
      font-weight: $font-weight-medium;
    }
  }

}
