@import '../abstract/breakpoints';

.input-box {

  .form-control, .form-select, .form-label {
    @extend .primary-ff;
    color: $dark;
    font-size: $input-font-size-web;
    @include placeholder {
      color: $gray-dark;
      font-weight: $font-weight-medium;
    }
    &:focus {
      border: 1px solid $primary !important;
    }
    @include superior-breakpoint('lt-lg') {
      font-size: $input-font-size-mob;
    }
  }

  .form-control, .form-select {
    border: 1px solid $gray;
    padding: $input-padding-x-web $input-padding-y-web;
    @include superior-breakpoint('lt-lg') {
      padding: $input-padding-x-mob $input-padding-y-mob;
    }
  }

  .form-select {
    color: $dark
  }

  .form-label {
    @extend .fw-semibold !optional;
    margin-bottom: $form-label-margin-bottom-web;
    @include superior-breakpoint('lt-lg') {
      margin-bottom: $form-label-margin-bottom-mob;
    }
  }

  .input-group {
    .form-control {
      border-right: none
    }
    .input-group-text {
      background: none;
      padding: $input-padding-x-web $input-padding-y-web;
      border-right: 2px solid $gray;
      @include superior-breakpoint('lt-lg') {
        padding: $input-padding-x-mob $input-padding-y-mob;
      }
      & + .form-control {
        border: 1px solid $gray !important;
        border-left: none !important;
        &:focus {
          border: 1px solid $primary !important;
        }
      }
    }
    .form-control + .input-group-text{
      padding-right: $input-padding-x-web;
      border-left: 2px solid $gray;
      border-right-width: 1px;
      @include superior-breakpoint('lt-lg') {
        padding-right: $input-padding-x-mob;
      }
    }

  }

  //for number
  .form-control[type=number]::-webkit-inner-spin-button,
  .form-control[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .form-control[type=number] {
    -moz-appearance: textfield;
  }

  // for disabled and alert
  .form-control {
    &.disabled {
      opacity: 0.7;
      pointer-events: none;
      &:focus {
        border: 1px solid $gray;
      }
    }
    &.alert {
      margin-bottom: 0;
    }
  }

  span {
    &.status {
      @extend .primary-ff;
      @extend .fw-semibold !optional;
      display: inline-block;
      color: $gray-dark;
      font-size: $input-status-font-size-web;
      margin-top: $input-status-margin-top-web;
      @include superior-breakpoint('lt-lg') {
        font-size: $input-status-font-size-mob;
        margin-top: $input-status-margin-top-mob;
      }
    }
  }

  // for web and mobile large
  &.lg {

    .form-control, .form-select, .form-label {
      font-size: $input-font-size-web-lg;
      @include superior-breakpoint('lt-lg') {
        font-size: $input-font-size-mob-lg;
      }
    }
    .form-control, .form-select {
      padding: $input-padding-x-web-lg $input-padding-y-web-lg;
      @include superior-breakpoint('lt-lg') {
        padding: $input-padding-x-mob-lg $input-padding-y-mob-lg;
      }
    }
    .form-label {
      margin-bottom: $form-label-margin-bottom-web-lg;
      @include superior-breakpoint('lt-lg') {
        margin-bottom: $form-label-margin-bottom-mob-lg;
      }
    }

    .input-group {
      .input-group-text {
        padding: $input-padding-x-web-lg $input-padding-y-web-lg;
        @include superior-breakpoint('lt-lg') {
          padding: $input-padding-x-mob-lg $input-padding-y-mob-lg;
        }
      }
      .form-control + .input-group-text{
        padding-right: $input-padding-x-web-lg;
        @include superior-breakpoint('lt-lg') {
          padding-right: $input-padding-x-mob-lg;
        }
      }
    }

    span {
      &.status {
        @extend .primary-ff;
        @extend .fw-semibold !optional;
        display: inline-block;
        font-size: $input-status-font-size-web-lg;
        margin-top: $input-status-margin-top-web-lg;
        @include superior-breakpoint('lt-lg') {
          font-size: $input-status-font-size-mob-lg;
          margin-top: $input-status-margin-top-mob-lg;
        }
      }
    }

  }

  textarea {
    &.form-control {
      resize: none;
      min-height: 100px;
    }
  }

}

// theme changes
@include apply-superior using ($colors, $type) {

  $dark: map-get($colors , dark);
  $isdark: $type;

  .form-label {
    $custom-dark: map-get($colors , dark);
    color: $custom-dark;
  }

  .form-control, .form-select {
    color: $dark;
  }

  .datepicker {
    th {
      &.dow {
        color: $dark;
      }
    }
  }

}

//form-check
.form-check {
  .form-check-label {
    font-weight: $font-weight-medium;
  }
}

.datepicker {
  box-shadow: 0 2px 15px 0 rgba($gray-medium, 0.25);
  border: 1px solid $gray-light;
  @extend .primary-ff;
  .datepicker-days {
    position: relative;
    top: -10px;
    .table-condensed {
      thead {
        tr:nth-child(2) {
          th {
            background-color: $primary;
            color: white;
            border-radius: 0;
            font-size: 16px;
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
  th, td {
    width: 36px;
    height: 36px;
    color: $primary;
    font-size: 14px;
    font-weight: $font-weight-medium;
  }
  td {
    &.old, &.new {
      color: tint($primary, 60%) !important;
    }
    &:hover {
      background-color: tint($primary, 92%) !important;
    }
    &.active {
      background: $primary;
      background: linear-gradient(180deg, $primary 0%, darken($primary, 15%) 100%) !important;
    }
  }
  th {
    &.dow {
      font-weight: $font-weight-medium;
      border-bottom: 1px solid $gray-light;
    }
  }
  &.datepicker-dropdown:before,
  &.datepicker-dropdown:after {
    border-bottom-color: $primary;
  }
}


.form-range {
  &.progress-range {
    &::-webkit-slider-thumb{
      -webkit-appearance: none;
      background: url('/assets/images/range-progress-thumb-icon-01.png') center center;
      box-shadow: 0 6px 17px 0 rgba($gray-600, 0.25);
    }
    &::-moz-range-thumb {
      -moz-appearance: none;
      background: url('/assets/images/range-progress-thumb-icon-01.png') center center;
      box-shadow: 0 6px 17px 0 rgba($gray-600, 0.25);
    }
    &::-webkit-slider-runnable-track {
      background: linear-gradient(90deg, $primary var(--range-progress), $gray-100 var(--range-progress));
    }
    &::-moz-range-track {
      background: linear-gradient(90deg, $primary var(--range-progress), $gray-100 var(--range-progress));
    }
  }
}
