

$stackedLength: 20;

.avatar-stacked {
  display: flex;
  [class^="avatar-"] {
    position: relative;
  }
  @for $i from $stackedLength through 1 {
    :nth-child(#{ $i }) {
      z-index: -#{ $stackedLength - ($i - 1) };
      left: -#{ ($i - 1) * 30 }px;
    }
  }
}

.avatar-lettered {
  @include circle(60px);
  border: 3px solid $gray;
  @include ft-calc($font-h1);
  text-transform: uppercase;
  @extend .fw-medium;
  color: $primary;
  background-color: $light;
}

.video-wrapper {
  width: 480px;
  height: 360px;
}

.text-placeholder {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: $gray-light;
  background: linear-gradient(to right, $gray-light 12%, darken($gray-light, 5%) 24%, $gray-light 40%);
  background-size: 900px 104px;
  height: 24px;
  position: relative;
  &.multiline {
    height: 12px;
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -900px 0
  }
  100%{
      background-position: 900px 0
  }
}
