
.multiRange-grabbing {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}
.multiRange {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.multiRange__rangeWrap {
	height: 16px;
	background: $gray-light;
	position: relative;
	z-index: 5;
}
.multiRange__range {
	height: 100%;
	position: absolute;
	right: 0;
	background: currentColor;
	border-radius: 4px;
	&:nth-child(1) {
		color: map-get($range-group-colors , 'red');
	}
	&:nth-child(2) {
		color: map-get($range-group-colors , 'orange')
	}
	&:nth-child(3) {
		color: map-get($range-group-colors , 'green')
	}
	&:nth-child(4) {
		color: map-get($range-group-colors , 'orange')
	}
	&:nth-child(5) {
		color: map-get($range-group-colors , 'red')
	}
	&:first-child {
		>.multiRange__handle {
			display: none;
		}
	}
	.multiRange__handle {
		width: 56px;
		height: 56px;
		position: absolute;
		top: -18px;
		left: -26px;
		cursor: -webkit-grab;
		cursor: grab;
		transition: 0.2s;
		background: url('/assets/images/range-progress-thumb-icon.png') no-repeat center center;
		&:active {
			cursor: inherit;
		}
	}
}


