
//icon groups
.btn-group {
  &.icon-group {
    .btn {
      min-width: auto;
      padding: 8px 15px;
    }
    [class^="icon-"], [class*=" icon-"] {
      @include ft-calc($font-base);
      &::before {
        color: inherit;
      }
    }
    &.filled {
      .btn {
        border: 1px solid white !important;
      }
      [class^="icon-"], [class*=" icon-"] {
        &::before {
          color: white;
        }
      }
    }
    &.lg {
      .btn {
        padding: 16px 20px;
      }
      [class^="icon-"], [class*=" icon-"] {
        @include ft-calc($font-h2)
      }
    }
  }
}

//notification
.notification-card {
  display: flex;
  flex-direction: row;
  .card-item {
    display: flex;
    padding: 16px;
    .title {
      margin: 0 0 6px 0;
    }
    &.right {
      padding: 30px 36px;
      border-left: 1px solid $gray-light;
      display: flex;
      align-items: center;
    }
  }
}


@include apply-superior using ($colors, $type) {

  $dark: map-get($colors , dark);


  //chat
  .chat-bubble {
    .chat-container {
      max-width: 263px;
    }
    .message {
      padding: 16px;
      color: white;
      @extend .fw-medium;
      margin: 0 0 8px 0;
      @include border-radius(6px);
    }
    .profile {
      display: flex;
      align-items: center;
      p {
        @extend .fw-medium;
        color: $dark;
        @include ft-calc($font-normal);
      }
    }
    &.sent {
      display: flex;
      .message {
        background-color: map-get($colors , primary);
        border-bottom-left-radius: 0;
      }
      .profile {
        p {
          padding-left: 6px;
        }
      }
    }
    &.received {
      display: flex;
      justify-content: end;
      .message {
        text-align: right;
        background-color: map-get($colors , secondary);
        border-bottom-right-radius: 0;
      }
      .profile {
        justify-content: end;
        p {
          padding-right: 6px;
        }
      }
    }
  }

  //stepper
  .stepper {
    .step-item {
      @include circle(36px);
      @extend .fw-medium;
      @include ft-calc($font-h2);
      cursor: pointer;
      color: $tertiary !important;
      &:not(.active) {
        background-color: map-get($colors , light);
        border: 1px solid map-get($colors , 'gray');
      }
      &:not(:last-child) {
        margin-right: 16px;
      }
      &.active {
        color: white !important;
        border: 1px solid map-get($colors , primary);
        background-color: map-get($colors , primary);
        pointer-events: visible;
      }
      &[class^="icon-"], &[class*=" icon-"] {
        @include ft-calc($font-base);
        &:not(.disabled) {
          &:before {
            color: map-get($colors, primary);
          }
        }
        &.active {
          &:before {
            color: white;
          }
        }
      }
    }
  }


//horizontal and vertical stepper
.stepper-wrapper {
  .stepper {
    display: flex;
    text-align: center;
    .step-box {
      &:not(:last-child) {
        margin-right: 50px;
      }
      .step-item {
        pointer-events: none;
        margin-right: 0;
      }
      .title {
        margin: 10px 0 0 0;
        text-align: center;
        color: $gray-dark;
      }
      &.active {
        .step-item {
          color: white !important;
          border: 1px solid map-get($colors , primary);
          background-color: map-get($colors , primary);
          pointer-events: visible;
        }
        .title {
          color: map-get($colors , primary)
        }
      }
    }
  }
  .tabs {
    .tab {
       margin: 16px 0;
      .button-wrapper {
        margin: 30px 0 0 0;
      }
    }
  }
  &.vertical {
    display: flex;
    .stepper {
      flex-direction: column;
      .step-box {
        display: flex;
        align-items: center;
        margin: 0 16px 25px 0;
        &:last-child {
          margin-bottom: 0;
        }
        .title {
          margin: 0 0 0 12px;
        }
      }
    }
    .tabs {
      margin: 0 0 0 20px;
      .tab {
        margin: 0;
      }
    }
  }
}

}

