<div class="content-block bd-content">

  <h1 class="bd-title" id="content">Grid</h1>
  <h4 class="mb-5 fw-normal">Consistency in the arrangements of UI elements is achieved using 12 Column Gird System for Web and 6 Column Grid System for Mobile Applications</h4>

  <div class="grid-container">

    <div class="grid-box">

      <h2 class="mb-2" id="Gridexample">Example<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#Gridexample" style="padding-left: 0.375em;"></a></h2>

      <div class="bd-example bd-example-row mt-showcase">
        <div class="container">
          <div class="row">
            <div class="col">
              Column
            </div>
            <div class="col">
              Column
            </div>
            <div class="col">
              Column
            </div>
          </div>
        </div>
      </div>

      <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
<div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"container"</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"row"</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col"</span><span class="p">&gt;</span>
      Column
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col"</span><span class="p">&gt;</span>
      Column
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col"</span><span class="p">&gt;</span>
      Column
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>

    </div>

  </div>

  <div class="grid-container mt-5">
    <div class="grid-box">
      <h2 id="grid-options">Grid options<a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="#" href="#grid-options" style="padding-left: 0.375em;"></a></h2>
      <p>Bootstrap’s grid system can adapt across all six default breakpoints, and any breakpoints you customize. The six default grid tiers are as follow:</p>
      <ul>
        <li>Extra small (xs)</li>
        <li>Small (sm)</li>
        <li>Medium (md)</li>
        <li>Large (lg)</li>
        <li>Extra large (xl)</li>
        <li>Extra extra large (xxl)</li>
      </ul>
      <p>As noted above, each of these breakpoints have their own container, unique class prefix, and modifiers. Here’s how the grid changes across these breakpoints:</p>
      <table class="table mt-showcase mb-4">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">
              xs<br>
              <span class="fw-normal">&lt;576px</span>
            </th>
            <th scope="col">
              sm<br>
              <span class="fw-normal">≥576px</span>
            </th>
            <th scope="col">
              md<br>
              <span class="fw-normal">≥768px</span>
            </th>
            <th scope="col">
              lg<br>
              <span class="fw-normal">≥992px</span>
            </th>
            <th scope="col">
              xl<br>
              <span class="fw-normal">≥1200px</span>
            </th>
            <th scope="col">
              xxl<br>
              <span class="fw-normal">≥1400px</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="text-nowrap" scope="row">Container <code class="fw-normal">max-width</code></th>
            <td>None (auto)</td>
            <td>540px</td>
            <td>720px</td>
            <td>960px</td>
            <td>1140px</td>
            <td>1320px</td>
          </tr>
          <tr>
            <th class="text-nowrap" scope="row">Class prefix</th>
            <td><code>.col-</code></td>
            <td><code>.col-sm-</code></td>
            <td><code>.col-md-</code></td>
            <td><code>.col-lg-</code></td>
            <td><code>.col-xl-</code></td>
            <td><code>.col-xxl-</code></td>
          </tr>
          <tr>
            <th class="text-nowrap" scope="row"># of columns</th>
            <td colspan="6">12</td>
          </tr>
          <tr>
            <th class="text-nowrap" scope="row">Gutter width</th>
            <td colspan="6">20px</td>
          </tr>
          <tr>
            <th class="text-nowrap" scope="row">Custom gutters</th>
            <td colspan="6"><a href="/docs/5.0/layout/gutters/">Yes</a></td>
          </tr>
          <tr>
            <th class="text-nowrap" scope="row">Nestable</th>
            <td colspan="6"><a href="#nesting">Yes</a></td>
          </tr>
          <tr>
            <th class="text-nowrap" scope="row">Column ordering</th>
            <td colspan="6"><a href="/docs/5.0/layout/columns/#reordering">Yes</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="grid-container mt-5">
    <div class="grid-box">

      <h2 id="stacked-to-horizontal">Stacked to horizontal<a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="#" href="#stacked-to-horizontal" style="padding-left: 0.375em;"></a></h2>
      <p>Using a single set of .col-sm-* classes, you can create a basic grid system that starts out stacked and becomes horizontal at the small breakpoint (sm).</p>

      <div class="bd-example bd-example-row mt-showcase">
        <div class="container">
          <div class="row">
            <div class="col-sm-8">col-sm-8</div>
            <div class="col-sm-4">col-sm-4</div>
          </div>
          <div class="row">
            <div class="col-sm">col-sm</div>
            <div class="col-sm">col-sm</div>
            <div class="col-sm">col-sm</div>
          </div>
        </div>
     </div>

     <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
<div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"container"</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"row"</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-sm-8"</span><span class="p">&gt;</span>col-sm-8<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-sm-4"</span><span class="p">&gt;</span>col-sm-4<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"row"</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-sm"</span><span class="p">&gt;</span>col-sm<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-sm"</span><span class="p">&gt;</span>col-sm<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-sm"</span><span class="p">&gt;</span>col-sm<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>

    </div>
  </div>

</div>
