
@import './abstract/abstract';


//alerts themes
$alert-border-scale:-70%; // this variable comes from bootstrap. it works even without declaring

//primary
.badge-primary {
  @include alert-variant($primary, shift-color($info, $alert-border-scale), white);
}

//secondary
.badge-secondary {
  @include alert-variant($secondary, shift-color($info, $alert-border-scale), white);
}

//Info
.alert-info, .badge-info  {
  @include alert-variant($info-light, shift-color($info, $alert-border-scale), $info);
}
//Success
.alert-success, .badge-success  {
  @include alert-variant($success-light, shift-color($success, $alert-border-scale), $success);
}
//Danger
.alert-danger, .badge-danger  {
  @include alert-variant($danger-light, shift-color($danger, $alert-border-scale), $danger);
}
//Warning
.alert-warning, .badge-warning  {
  @include alert-variant($warning-light, shift-color($warning, $alert-border-scale), $warning);
}

//input alerts
.input-box .form-control.alert-success {
  @include alert-variant($success-light, shift-color($success, $alert-border-scale), $success);
  color: $success;
  &:focus {
    border: 1px solid $success !important;
  }
}

.input-box .form-control.alert-warning {
  @include alert-variant($warning-light, shift-color($warning, $alert-border-scale), $warning);
  color: $warning;
  &:focus {
    border: 1px solid $warning !important;
  }
}

.input-box .form-control.alert-danger {
  @include alert-variant($danger-light, shift-color($danger, $alert-border-scale), $danger);
  color: $danger;
  &:focus {
    border: 1px solid $danger !important;
  }
}


.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@include apply-superior using ($colors, $type) {

  $dark: map-get($colors , dark);
  $isdark: $type;

  * {
    color: $dark;
    @extend .primary-ff;
  }
  .primary-ff {
    font-family: 'Quicksand', sans-serif;
  }

  @if $isdark  {
    .text-success {
      color: $success-light !important;
    }
    .text-warning {
      color: $warning-light !important;
    }
    .text-danger {
      color: $danger-light !important;
    }
  }

}
