<div class="content-block wire-icons-block bd-content">

  <h1 class="bd-title" id="content">Icon Groups</h1>

  <div class="my-5">

    <h2 class="mb-2" id="toggles">Example<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#toggles" style="padding-left: 0.375em;"></a></h2>

    <div class="content-container">

      <h4 class="mt-5 mb-3" id="groupFilledLarge">Group Filled (Large)<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#groupFilledLarge" style="padding-left: 0.375em;"></a></h4>

      <div class="bd-example mt-showcase">
        <div class="d-flex">
          <div class="me-3 mb-3">
            <div class="btn-group icon-group filled lg" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary icon-fi-sr-apps"></button>
              <button type="button" class="btn btn-primary icon-fi-sr-bookmark"></button>
            </div>
          </div>
          <div>
            <div class="btn-group icon-group filled lg" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary icon-fi-sr-apps"></button>
              <button type="button" class="btn btn-primary icon-fi-sr-bookmark"></button>
              <button type="button" class="btn btn-primary icon-fi-sr-comment"></button>
            </div>
          </div>
        </div>
      </div>

      <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
      <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn-group icon-group filled lg"</span> <span class="na">role</span><span class="o">=</span><span class="s">"group"</span> <span class="na">aria-label</span><span class="o">=</span><span class="s">"Basic example"</span> <span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary icon-fi-sr-apps"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary icon-fi-sr-bookmark"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn-group icon-group filled lg"</span> <span class="na">role</span><span class="o">=</span><span class="s">"group"</span> <span class="na">aria-label</span><span class="o">=</span><span class="s">"Basic example"</span> <span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary icon-fi-sr-apps"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary icon-fi-sr-bookmark"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary icon-fi-sr-comment"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>


      <h4 class="mt-5 mb-3" id="groupFilledDefault">Group Filled (Default)<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#groupFilledDefault" style="padding-left: 0.375em;"></a></h4>

      <div class="bd-example mt-showcase">
        <div class="d-flex">
          <div class="me-3 mb-3">
            <div class="btn-group icon-group filled" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary icon-fi-sr-apps"></button>
              <button type="button" class="btn btn-primary icon-fi-sr-bookmark"></button>
            </div>
          </div>
          <div>
            <div class="btn-group icon-group filled" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary icon-fi-sr-apps"></button>
              <button type="button" class="btn btn-primary icon-fi-sr-bookmark"></button>
              <button type="button" class="btn btn-primary icon-fi-sr-comment"></button>
            </div>
          </div>
        </div>
      </div>

      <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
      <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn-group icon-group filled"</span> <span class="na">role</span><span class="o">=</span><span class="s">"group"</span> <span class="na">aria-label</span><span class="o">=</span><span class="s">"Basic example"</span> <span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary icon-fi-sr-apps"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary icon-fi-sr-bookmark"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn-group icon-group filled"</span> <span class="na">role</span><span class="o">=</span><span class="s">"group"</span> <span class="na">aria-label</span><span class="o">=</span><span class="s">"Basic example"</span> <span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary icon-fi-sr-apps"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary icon-fi-sr-bookmark"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary icon-fi-sr-comment"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>


      <h4 class="mt-5 mb-3" id="groupFilledLarge">Group Outlined (Large)<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#groupFilledLarge" style="padding-left: 0.375em;"></a></h4>

      <div class="bd-example mt-showcase">
        <div class="d-flex">
          <div class="me-3 mb-3">
            <div class="btn-group icon-group lg" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-primary icon-fi-sr-apps"></button>
              <button type="button" class="btn btn-outline-primary icon-fi-sr-bookmark"></button>
            </div>
          </div>
          <div>
            <div class="btn-group icon-group lg" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-primary icon-fi-sr-apps"></button>
              <button type="button" class="btn btn-outline-primary icon-fi-sr-bookmark"></button>
              <button type="button" class="btn btn-outline-primary icon-fi-sr-comment"></button>
            </div>
          </div>
        </div>
      </div>

      <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
      <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn-group icon-group lg"</span> <span class="na">role</span><span class="o">=</span><span class="s">"group"</span> <span class="na">aria-label</span><span class="o">=</span><span class="s">"Basic example"</span> <span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary icon-fi-sr-apps"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary icon-fi-sr-bookmark"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn-group icon-group lg"</span> <span class="na">role</span><span class="o">=</span><span class="s">"group"</span> <span class="na">aria-label</span><span class="o">=</span><span class="s">"Basic example"</span> <span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary icon-fi-sr-apps"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary icon-fi-sr-bookmark"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary icon-fi-sr-comment"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
      </code></pre></div>


      <h4 class="mt-5 mb-3" id="groupFilledDefault">Group Outlined (Default)<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#groupFilledDefault" style="padding-left: 0.375em;"></a></h4>

      <div class="bd-example mt-showcase">
        <div class="d-flex">
          <div class="me-3 mb-3">
            <div class="btn-group icon-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-primary icon-fi-sr-apps"></button>
              <button type="button" class="btn btn-outline-primary icon-fi-sr-bookmark"></button>
            </div>
          </div>
          <div>
            <div class="btn-group icon-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-primary icon-fi-sr-apps"></button>
              <button type="button" class="btn btn-outline-primary icon-fi-sr-bookmark"></button>
              <button type="button" class="btn btn-outline-primary icon-fi-sr-comment"></button>
            </div>
          </div>
        </div>
      </div>

      <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
      <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn-group icon-group"</span> <span class="na">role</span><span class="o">=</span><span class="s">"group"</span> <span class="na">aria-label</span><span class="o">=</span><span class="s">"Basic example"</span> <span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary icon-fi-sr-apps"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary icon-fi-sr-bookmark"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn-group icon-group"</span> <span class="na">role</span><span class="o">=</span><span class="s">"group"</span> <span class="na">aria-label</span><span class="o">=</span><span class="s">"Basic example"</span> <span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary icon-fi-sr-apps"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary icon-fi-sr-bookmark"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary icon-fi-sr-comment"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
      </code></pre></div>

    </div>

  </div>

</div>
