<div class="content-block forms-validation-block bd-content">

  <h1 class="bd-title" id="content">Form Validations</h1>

  <div class="my-5">
    <div class="row">
      <div class="col-md-12 col-lg-10 mt-showcase">

        <div class="superior-light">
          <div class="form-container bg-light mb-3">
            <h2 class="mb-5 fs-3 text-primary text-center fw-medium">Light Teal Theme</h2>
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="input-box mb-3">
                    <label class="form-label" for="first-name">First Name</label>
                    <input type="text" class="form-control" value="Kit" placeholder="Input Text" id="first-name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-box mb-3">
                    <label class="form-label" for="last-name">Last Name</label>
                    <input type="text" class="form-control" value="Huckvale" placeholder="Input Text" id="last-name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="input-box mb-3">
                    <label class="form-label" for="email-address">Email Address</label>
                    <input type="email" class="form-control" placeholder="Email Address" value="DrKit77@abc.au" id="email-address">
                    <span class="status">(Your email id be your username)</span>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="input-box mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" class="form-control" value="12345678" placeholder="Password" id="password">
                    <span class="status">(Min. 8 characters, 1 number and case-sensitive)</span>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="input-box mb-3">
                    <label class="form-label" for="retype-password">Re-type Password</label>
                    <input type="password" class="form-control alert-danger" value="12345679" placeholder="Password" id="retype-password">
                    <span class="status text-danger">(Ensure that both password were entered correctly)</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="input-box mb-3">
                    <label class="form-label">State</label>
                    <select class="form-select" aria-label="Default select example">
                      <option>Choose a state</option>
                      <option selected value="1">Queensland</option>
                      <option value="2">New York</option>
                      <option value="3">Florida</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-box mb-3">
                    <label class="form-label" for="address">Address</label>
                    <input type="text" class="form-control" value="Wide Bay Burnett" placeholder="Input Text" for="address">
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="button" class="btn btn-big btn-secondary text-uppercase w-100 mt-3">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
        <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-container bg-light mb-3"</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">h2</span> <span class="na">class</span><span class="o">=</span><span class="s">"mb-5 fs-3 text-primary text-center fw-medium"</span><span class="p">&gt;</span>Light Teal Theme<span class="p">&lt;/</span><span class="nt">h2</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">form</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"row"</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-md-6"</span><span class="p">&gt;</span>
          <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"input-box mb-3"</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-label"</span> <span class="na">for</span><span class="o">=</span><span class="s">"first-name"</span><span class="p">&gt;</span>First Name<span class="p">&lt;/</span><span class="nt">label</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">"text"</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-control"</span> <span class="na">placeholder</span><span class="o">=</span><span class="s">"First Name"</span> <span class="na">value</span><span class="o">=</span><span class="s">"Kit"</span> <span class="na">id</span><span class="o">=</span><span class="s">"first-name"</span><span class="p">&gt;</span>
          <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-md-6"</span><span class="p">&gt;</span>
          <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"input-box mb-3"</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-label"</span> <span class="na">for</span><span class="o">=</span><span class="s">"last-name"</span><span class="p">&gt;</span>Last Name<span class="p">&lt;/</span><span class="nt">label</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">"text"</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-control"</span> <span class="na">placeholder</span><span class="o">=</span><span class="s">"Last Name"</span> <span class="na">value</span><span class="o">=</span><span class="s">"Huckvale"</span> <span class="na">id</span><span class="o">=</span><span class="s">"last-name"</span><span class="p">&gt;</span>
          <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
      <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"row"</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-sm-12"</span><span class="p">&gt;</span>
          <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"input-box mb-3"</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-label"</span> <span class="na">for</span><span class="o">=</span><span class="s">"email-address"</span><span class="p">&gt;</span>Email Address<span class="p">&lt;/</span><span class="nt">label</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">"email"</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-control"</span> <span class="na">placeholder</span><span class="o">=</span><span class="s">"Email Address"</span>  <span class="na">value</span><span class="o">=</span><span class="s">"DrKit77@abc.au"</span> <span class="na">id</span><span class="o">=</span><span class="s">"email-address"</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"status"</span><span class="p">&gt;</span>(Your email id be your username)<span class="p">&lt;</span><span class="nt">/span</span><span class="p">&gt;</span>
          <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-sm-12"</span><span class="p">&gt;</span>
          <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"input-box mb-3"</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-label"</span> <span class="na">for</span><span class="o">=</span><span class="s">"password"</span><span class="p">&gt;</span>Password<span class="p">&lt;/</span><span class="nt">label</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">"password"</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-control"</span> <span class="na">placeholder</span><span class="o">=</span><span class="s">"Password"</span> <span class="na">value</span><span class="o">=</span><span class="s">"12345678"</span> <span class="na">id</span><span class="o">=</span><span class="s">"password"</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"status"</span><span class="p">&gt;</span>(Min. 8 characters, 1 number and case-sensitive)<span class="p">&lt;</span><span class="nt">/span</span><span class="p">&gt;</span>
          <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-sm-12"</span><span class="p">&gt;</span>
          <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"input-box mb-3"</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-label"</span> <span class="na">for</span><span class="o">=</span><span class="s">"retype-password"</span><span class="p">&gt;</span>Re-Type Password<span class="p">&lt;/</span><span class="nt">label</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">"password"</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-control alert-danger"</span> <span class="na">placeholder</span><span class="o">=</span><span class="s">"Password"</span> <span class="na">value</span><span class="o">=</span><span class="s">"12345679"</span> <span class="na">id</span><span class="o">=</span><span class="s">"retype-password"</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"status text-danger"</span><span class="p">&gt;</span>(Ensure that both password were entered correctly)<span class="p">&lt;</span><span class="nt">/span</span><span class="p">&gt;</span>
            <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
      <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"row"</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-md-6"</span><span class="p">&gt;</span>
          <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"input-box mb-3"</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-label"</span>State<span class="p">&lt;/</span><span class="nt">label</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">select</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-select"</span> <span class="na">aria-label</span><span class="o">=</span><span class="s">"Default select example"</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">option</span><span class="p">&gt;</span>Choose a state<span class="p">&lt;/</span><span class="nt">option</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">option</span> <span class="na">selected</span> <span class="na">value</span><span class="o">=</span><span class="s">"1"</span><span class="p">&gt;</span>Queensland<span class="p">&lt;/</span><span class="nt">option</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">option</span> <span class="na">value</span><span class="o">=</span><span class="s">"2"</span><span class="p">&gt;</span>New York<span class="p">&lt;/</span><span class="nt">option</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">option</span> <span class="na">value</span><span class="o">=</span><span class="s">"3"</span><span class="p">&gt;</span>Florida<span class="p">&lt;/</span><span class="nt">option</span><span class="p">&gt;</span>
              <span class="p">&lt;/</span><span class="nt">select</span><span class="p">&gt;</span>
          <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-md-6"</span><span class="p">&gt;</span>
          <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"input-box mb-3"</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-label"</span> <span class="na">for</span><span class="o">=</span><span class="s">"address"</span><span class="p">&gt;</span>Address<span class="p">&lt;/</span><span class="nt">label</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">"text"</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-control"</span> <span class="na">placeholder</span><span class="o">=</span><span class="s">"Input Text"</span> <span class="na">value</span><span class="o">=</span><span class="s">"Wide Bay Burnett"</span> <span class="na">id</span><span class="o">=</span><span class="s">"address"</span><span class="p">&gt;</span>
          <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-sm-12"</span><span class="p">&gt;</span>
          <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-big btn-secondary text-uppercase w-100 mt-3"</span><span class="p">&gt;</span>Submit<span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
      <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">/form</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">/div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">/div</span><span class="p">&gt;</span>
  </code></pre></div>

      </div>
    </div>

    <div class="row">

      <div class="col-md-12 col-lg-10 mt-showcase">

        <div class="superior-dark">
          <div class="form-container bg-light mb-3">
            <h2 class="mb-5 fs-3 text-primary text-center fw-medium">Dark Blue Theme</h2>
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="input-box mb-3">
                    <label class="form-label" for="first-name">First Name</label>
                    <input type="text" class="form-control" value="Kit" placeholder="Input Text" id="first-name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-box mb-3">
                    <label class="form-label" for="last-name">Last Name</label>
                    <input type="text" class="form-control" value="Huckvale" placeholder="Input Text" id="last-name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="input-box mb-3">
                    <label class="form-label" for="email-address">Email Address</label>
                    <input type="email" class="form-control alert-danger" placeholder="Email Address" id="email-address">
                    <span class="status text-danger">(This field is required)</span>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="input-box mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" class="form-control" value="12345678" placeholder="Password" id="password">
                    <span class="status">(Min. 8 characters, 1 number and case-sensitive)</span>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="input-box mb-3">
                    <label class="form-label" for="retype-password">Re-type Password</label>
                    <input type="password" class="form-control alert alert-success" value="12345679" placeholder="Password" id="retype-password">
                    <span class="status text-success">(Pasword Matches)</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="input-box mb-3">
                    <label class="form-label">State</label>
                    <select class="form-select" aria-label="Default select example">
                      <option>Choose a state</option>
                      <option selected value="1">Queensland</option>
                      <option value="2">New York</option>
                      <option value="3">Florida</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-box mb-3">
                    <label class="form-label" for="address">Address</label>
                    <input type="text" class="form-control" value="Wide Bay Burnett" placeholder="Input Text" for="address">
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="button" class="btn btn-big btn-secondary text-uppercase w-100 mt-3">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
        <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">

<span class="p">&lt;</span><span class="nt">body</span> <span class="na">class</span><span class="o">=</span><span class="s">"superior-dark"</span><span class="p">&gt;</span>
  <span>.....</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-container bg-light mb-3"</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">h2</span> <span class="na">class</span><span class="o">=</span><span class="s">"mb-5 fs-3 text-primary text-center fw-medium"</span><span class="p">&gt;</span>Light Teal Theme<span class="p">&lt;/</span><span class="nt">h2</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">form</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"row"</span><span class="p">&gt;</span>
          <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-md-6"</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"input-box mb-3"</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-label"</span> <span class="na">for</span><span class="o">=</span><span class="s">"first-name"</span><span class="p">&gt;</span>First Name<span class="p">&lt;/</span><span class="nt">label</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">"text"</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-control"</span> <span class="na">placeholder</span><span class="o">=</span><span class="s">"First Name"</span> <span class="na">value</span><span class="o">=</span><span class="s">"Kit"</span> <span class="na">id</span><span class="o">=</span><span class="s">"first-name"</span><span class="p">&gt;</span>
            <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
          <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
          <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-md-6"</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"input-box mb-3"</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-label"</span> <span class="na">for</span><span class="o">=</span><span class="s">"last-name"</span><span class="p">&gt;</span>Last Name<span class="p">&lt;/</span><span class="nt">label</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">"text"</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-control"</span> <span class="na">placeholder</span><span class="o">=</span><span class="s">"Last Name"</span> <span class="na">value</span><span class="o">=</span><span class="s">"Huckvale"</span> <span class="na">id</span><span class="o">=</span><span class="s">"last-name"</span><span class="p">&gt;</span>
            <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
          <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"row"</span><span class="p">&gt;</span>
          <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-sm-12"</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"input-box mb-3"</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-label"</span> <span class="na">for</span><span class="o">=</span><span class="s">"email-address"</span><span class="p">&gt;</span>Email Address<span class="p">&lt;/</span><span class="nt">label</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">"email"</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-control alert-danger"</span> <span class="na">placeholder</span><span class="o">=</span><span class="s">"Email Address"</span> <span class="na">id</span><span class="o">=</span><span class="s">"email-address"</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"status text-danger"</span><span class="p">&gt;</span>(This field is required)<span class="p">&lt;</span><span class="nt">/span</span><span class="p">&gt;</span>
            <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
          <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
          <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-sm-12"</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"input-box mb-3"</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-label"</span> <span class="na">for</span><span class="o">=</span><span class="s">"password"</span><span class="p">&gt;</span>Password<span class="p">&lt;/</span><span class="nt">label</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">"password"</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-control"</span> <span class="na">placeholder</span><span class="o">=</span><span class="s">"Password"</span> <span class="na">value</span><span class="o">=</span><span class="s">"12345678"</span> <span class="na">id</span><span class="o">=</span><span class="s">"password"</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"status"</span><span class="p">&gt;</span>(Min. 8 characters, 1 number and case-sensitive)<span class="p">&lt;</span><span class="nt">/span</span><span class="p">&gt;</span>
            <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
          <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
          <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-sm-12"</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"input-box mb-3"</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-label"</span> <span class="na">for</span><span class="o">=</span><span class="s">"retype-password"</span><span class="p">&gt;</span>Re-Type Password<span class="p">&lt;/</span><span class="nt">label</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">"password"</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-control alert alert-success"</span> <span class="na">placeholder</span><span class="o">=</span><span class="s">"Password"</span> <span class="na">value</span><span class="o">=</span><span class="s">"12345679"</span> <span class="na">id</span><span class="o">=</span><span class="s">"retype-password"</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">"status text-success"</span><span class="p">&gt;</span>(Pasword Matches)<span class="p">&lt;</span><span class="nt">/span</span><span class="p">&gt;</span>
              <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
          <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"row"</span><span class="p">&gt;</span>
          <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-md-6"</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"input-box mb-3"</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-label"</span>State<span class="p">&lt;/</span><span class="nt">label</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">select</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-select"</span> <span class="na">aria-label</span><span class="o">=</span><span class="s">"Default select example"</span><span class="p">&gt;</span>
                <span class="p">&lt;</span><span class="nt">option</span><span class="p">&gt;</span>Choose a state<span class="p">&lt;/</span><span class="nt">option</span><span class="p">&gt;</span>
                <span class="p">&lt;</span><span class="nt">option</span> <span class="na">selected</span> <span class="na">value</span><span class="o">=</span><span class="s">"1"</span><span class="p">&gt;</span>Queensland<span class="p">&lt;/</span><span class="nt">option</span><span class="p">&gt;</span>
                <span class="p">&lt;</span><span class="nt">option</span> <span class="na">value</span><span class="o">=</span><span class="s">"2"</span><span class="p">&gt;</span>New York<span class="p">&lt;/</span><span class="nt">option</span><span class="p">&gt;</span>
                <span class="p">&lt;</span><span class="nt">option</span> <span class="na">value</span><span class="o">=</span><span class="s">"3"</span><span class="p">&gt;</span>Florida<span class="p">&lt;/</span><span class="nt">option</span><span class="p">&gt;</span>
                <span class="p">&lt;/</span><span class="nt">select</span><span class="p">&gt;</span>
            <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
          <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
          <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-md-6"</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"input-box mb-3"</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-label"</span> <span class="na">for</span><span class="o">=</span><span class="s">"address"</span><span class="p">&gt;</span>Address<span class="p">&lt;/</span><span class="nt">label</span><span class="p">&gt;</span>
              <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">"text"</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-control"</span> <span class="na">placeholder</span><span class="o">=</span><span class="s">"Input Text"</span> <span class="na">value</span><span class="o">=</span><span class="s">"Wide Bay Burnett"</span> <span class="na">id</span><span class="o">=</span><span class="s">"address"</span><span class="p">&gt;</span>
            <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
          <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
          <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"col-sm-12"</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-big btn-secondary text-uppercase w-100 mt-3"</span><span class="p">&gt;</span>Submit<span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
          <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">/form</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">/div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">/div</span><span class="p">&gt;</span>
  <span>.....</span>
<span class="p">&lt;</span><span class="nt">/body</span><span class="p">&gt;</span>
  </code></pre></div>

      </div>

    </div>

  </div>

</div>
