<div class="content-block wire-icons-block bd-content">

  <h1 class="bd-title" id="content">Message Notification</h1>

  <div class="my-5">

    <h2 class="mb-2" id="toggles">Example<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#toggles" style="padding-left: 0.375em;"></a></h2>

    <div class="content-container">

      <div class="bd-example mt-showcase">

        <div class="card notification-card">
          <div class="card-item">
            <img class="me-3 align-self-center" src="assets/images/avatar-profile-icon.png" alt="">
            <div class="text">
              <h2 class="title text-black fw-semibold">Casey Lee</h2>
              <p class="text-sm text-black fw-medium mb-0">Hey Jack! Mail me the design guidelines</p>
            </div>
          </div>
          <div class="card-item right pointer text-primary fw-semibold ms-auto">Reply</div>
        </div>

      </div>

      <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
      <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"card notification-card"</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"card-item"</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">img</span> <span class="na">src</span><span class="o">=</span><span class="s">"..."</span> <span class="na">class</span><span class="o">=</span><span class="s">"me-3 align-self-center"</span> <span class="na">alt</span><span class="o">=</span><span class="s">"..."</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"text"</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">h2</span> <span class="na">class</span><span class="o">=</span><span class="s">"title text-black fw-semibold"</span><span class="p">&gt;</span>Casey Lee<span class="p">&lt;/</span><span class="nt">h2</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">p</span> <span class="na">class</span><span class="o">=</span><span class="s">"text-sm text-black fw-medium mb-0"</span><span class="p">&gt;</span>Hey Jack! Mail me the design guidelines<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"card-item right pointer text-primary fw-semibold ms-auto"</span><span class="p">&gt;</span>Reply<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>

    </div>

  </div>

</div>
