@import "~src/scss/abstract/abstract";
@import "~src/@superior/styles/base/base";

html {
	font-size: $ft-base + 6 + px;
}

body {
  font-family: system-ui,-apple-system, 'Roboto', sans-serif;
}


a {
  text-decoration: none;
}

.main-container {
  min-height: calc(100vh - 70px);
  .content-wrapper {
    padding:70px 0 20px 0;
    @include visual-breakpoint('lt-md') {
      padding-top: 0;
    }
  }
  > router-outlet + * {
    position: relative;
    display: flex;
    flex-direction: column;
    height: inherit;

    > div {
        width: 100%;
        .content-block {
          > .table {
            max-width: 100%;
            margin-bottom: 1.5rem;
            font-size: 14px;
          }
        }

    }

  }
}

.content-block {

  &.bd-content {
    >.table th:not(:last-child), >.table td:not(:last-child) {
      padding-right: 20px
    }
    .highlight {
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 1rem;
      background-color: #f8f9fa;
      padding: 1rem 1.5rem;
      font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
      position: relative;
      pre {
        padding: 0;
        margin-top: 0.65rem;
        //margin-left: -50px;
        //margin-bottom: -10px;
        white-space: pre;
        background-color: transparent;
        border: 0;
      }
      .chroma {
        .nt {color: #2f6f9f;}
        .s {color: #d73038;}
        .na {color: #006ee0}
        .mi, .mf { color: #c24f19; }
        .kt { color: #078; }
        .nv {color: #033;}
      }
    }
    .bd-clipboard {
      position: relative;
      right: 0;
      .btn-clipboard {
        position: absolute;
        top: 0.65rem;
        right: 0.65rem;
        z-index: 10;
        display: block;
        padding: 0.25rem 0.5rem;
        font-size: .65em;
        color: #0d6efd;
        background-color: #fff;
        border: 1px solid;
        border-radius: 0.25rem;
        &:hover, &:focus {
          color: #fff;
          background-color: #0d6efd;
        }
      }
    }
    .bd-example {
      position: relative;
      padding: 1rem;
      margin: 1rem -0.75rem 0;
      border: solid #dee2e6;
      border-width: 1px 0 0;
      @include visual-breakpoint('gt-xs') {
        padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: 1px;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
      }
      >:last-child {
        margin-bottom: 0
      }
      &:after {
        display: block;
        clear: both;
        content: "";
      }
    }
    >h3 {
      margin-top: 2rem;
    }
    >h2:not(:first-child) {
      margin-top: 3rem;
    }
  }

  .bd-example-row .row>.col, .bd-example-row .row>[class^="col-"] {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgba(39,41,43,0.03);
    border: 1px solid rgba(39,41,43,0.1);
  }

}

.anchorjs-link {
  font-weight: 400;
  color: rgba(13,110,253,0.5);
  transition: color 0.15s ease-in-out;
  opacity: 0;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
[data-anchorjs-icon]::after {
  content: attr(data-anchorjs-icon);
}

.bd-lead {
  font-size: calc(1.275rem + .3vw);
  font-weight: 300;
  @include visual-breakpoint('xl') {
    font-size: 1.5rem;
  }
}

.ps-lg-4 {
  @include visual-breakpoint('gt-md') {
    padding-left: 1.5rem!important;
  }
}

//Flaticon toaster
.fi-icon-details-toaster {
position: fixed;
left: 0;
bottom: 20px;
width: 100%;
display: none;
&.show {
  display: block;
}
.fi-toaster-container {
  max-width: calc(100% - 32px);
  @include visual-breakpoint('gt-md') {
    max-width: 1040px;
  }
  padding: 18px 24px;
  background-color: $slate-800;
  @include border-radius(10px);
  margin: auto;
  .code-box {
    p {
      color: $slate-300;
      font-size: 11px;
      font-weight: 500;
      padding: 0;
      margin: 0 0 8px 0;
    }
    .code {
      padding: 10px;
      background-color: $slate-700;
      @include border-radius(4px);
      color: white;
      margin: 0;
      .d {
        color: $red-300;
      }
      .s {
        color: $slate-400;
      }
      .c {
        color: $cyan-400;
      }
      .n {
        color: $yellow-300;
      }
    }
  }

  }
}

/* common */
.no-pointer {
  cursor: pointer;
}

// importing custom theme to showcase
.mt-showcase {
  @import '~src/@superior/styles/superior';
}

.mt-showcase thead, .mt-showcase tbody, .mt-showcase tfoot, .mt-showcase tr, .mt-showcase td, .mt-showcase th {
  border-bottom-width: 1px;
}
