
@import "~src/@superior/styles/base/variables";

@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?9vyoz3');
  src:  url('./fonts/icomoon.eot?9vyoz3#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?9vyoz3') format('truetype'),
    url('./fonts/icomoon.woff?9vyoz3') format('woff'),
    url('./fonts/icomoon.svg?9vyoz3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fi-rr-folder {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e900";
		color: #405462;
	}
}
.icon-fi-rr-stopwatch {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e901";
		color: #405462;
	}
}
.icon-fi-rr-cursor-text-alt {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e902";
		color: #405462;
	}
}
.icon-fi-rr-database {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e903";
		color: #405462;
	}
}
.icon-fi-rr-dice {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e904";
		color: #405462;
	}
}
.icon-fi-rr-phone-call {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e905";
		color: #405462;
	}
}
.icon-fi-rr-vector {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e906";
		color: #405462;
	}
}
.icon-fi-rr-venus {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e907";
		color: #405462;
	}
}
.icon-fi-rr-play {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e908";
		color: #405462;
	}
}
.icon-fi-rr-copy-alt {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e909";
		color: #405462;
	}
}
.icon-fi-rr-cursor {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e90a";
		color: #405462;
	}
}
.icon-fi-rr-video-camera {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e90b";
		color: #405462;
	}
}
.icon-fi-rr-cursor-text {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e90c";
		color: #405462;
	}
}
.icon-fi-rr-utensils {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e90d";
		color: #405462;
	}
}
.icon-fi-rr-apps {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e90e";
		color: #405462;
	}
}
.icon-fi-rr-document {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e90f";
		color: #405462;
	}
}
.icon-fi-rr-volume {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e910";
		color: #405462;
	}
}
.icon-fi-rr-dart {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e911";
		color: #405462;
	}
}
.icon-fi-rr-envelope {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e912";
		color: #405462;
	}
}
.icon-fi-rr-data-transfer {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e913";
		color: #405462;
	}
}
.icon-fi-rr-home {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e914";
		color: #405462;
	}
}
.icon-fi-rr-picture {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e915";
		color: #405462;
	}
}
.icon-fi-rr-heart {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e916";
		color: #405462;
	}
}
.icon-fi-rr-paper-plane {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e917";
		color: #405462;
	}
}
.icon-fi-rr-delete {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e918";
		color: #405462;
	}
}
.icon-fi-rr-volleyball {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e919";
		color: #405462;
	}
}
.icon-fi-rr-clock {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e91a";
		color: #405462;
	}
}
.icon-fi-rr-duplicate {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e91b";
		color: #405462;
	}
}
.icon-fi-rr-venus-mars {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e91c";
		color: #405462;
	}
}
.icon-fi-rr-transform {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e91d";
		color: #405462;
	}
}
.icon-fi-rr-diamond {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e91e";
		color: #405462;
	}
}
.icon-fi-rr-cross-small {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e91f";
		color: #405462;
	}
}
.icon-fi-rr-venus-double {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e920";
		color: #405462;
	}
}
.icon-fi-rr-file {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e921";
		color: #405462;
	}
}
.icon-fi-rr-settings {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e922";
		color: #405462;
	}
}
.icon-fi-rr-bookmark {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e923";
		color: #405462;
	}
}
.icon-fi-rr-dashboard {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e924";
		color: #405462;
	}
}
.icon-fi-rr-vector-alt {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e925";
		color: #405462;
	}
}
.icon-fi-rr-alarm-clock {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e926";
		color: #405462;
	}
}
.icon-fi-rr-dollar {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e927";
		color: #405462;
	}
}
.icon-fi-rr-camera {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e928";
		color: #405462;
	}
}
.icon-fi-rr-disco-ball {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e929";
		color: #405462;
	}
}
.icon-fi-rr-play-alt {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e92a";
		color: #405462;
	}
}
.icon-fi-rr-search {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e92b";
		color: #405462;
	}
}
.icon-fi-rr-microphone {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e92c";
		color: #405462;
	}
}
.icon-fi-rr-document-signed {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e92d";
		color: #405462;
	}
}
.icon-fi-rr-wheelchair {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e92e";
		color: #405462;
	}
}
.icon-fi-rr-user-add {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e92f";
		color: #405462;
	}
}
.icon-fi-rr-drink-alt {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e930";
		color: #405462;
	}
}
.icon-fi-rr-portrait {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e931";
		color: #405462;
	}
}
.icon-fi-rr-world {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e932";
		color: #405462;
	}
}
.icon-fi-rr-wifi-alt {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e933";
		color: #405462;
	}
}
.icon-fi-rr-diploma {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e934";
		color: #405462;
	}
}
.icon-fi-rr-download {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e935";
		color: #405462;
	}
}
.icon-fi-rr-graduation-cap {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e936";
		color: #405462;
	}
}
.icon-fi-rr-drumstick {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e937";
		color: #405462;
	}
}
.icon-fi-rr-presentation {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e938";
		color: #405462;
	}
}
.icon-fi-rr-zoom-in {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e939";
		color: #405462;
	}
}
.icon-fi-rr-zoom-out {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e93a";
		color: #405462;
	}
}
.icon-fi-rr-user {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e93b";
		color: #405462;
	}
}
.icon-fi-rr-copyright {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e93c";
		color: #405462;
	}
}
.icon-fi-rr-yen {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e93d";
		color: #405462;
	}
}
.icon-fi-rr-moon {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e93e";
		color: #405462;
	}
}
.icon-fi-rr-wind {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e93f";
		color: #405462;
	}
}
.icon-fi-rr-print {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e940";
		color: #405462;
	}
}
.icon-fi-rr-shopping-cart {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e941";
		color: #405462;
	}
}
.icon-fi-rr-disk {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e942";
		color: #405462;
	}
}
.icon-fi-rr-folder-add {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e943";
		color: #405462;
	}
}
.icon-fi-rr-box {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e944";
		color: #405462;
	}
}
.icon-fi-rr-credit-card {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e945";
		color: #405462;
	}
}
.icon-fi-rr-bulb {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e946";
		color: #405462;
	}
}
.icon-fi-rr-briefcase {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e947";
		color: #405462;
	}
}
.icon-fi-rr-doctor {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e948";
		color: #405462;
	}
}
.icon-fi-rr-calendar {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e949";
		color: #405462;
	}
}
.icon-fi-rr-comment {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e94a";
		color: #405462;
	}
}
.icon-fi-rr-woman-head {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e94b";
		color: #405462;
	}
}
.icon-fi-rr-angle-small-down {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e94c";
		color: #405462;
	}
}
.icon-fi-sr-calendar {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e94d";
		color: #405462;
	}
}
.icon-fi-sr-folder-add {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e94e";
		color: #405462;
	}
}
.icon-fi-sr-angle-small-down {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e94f";
		color: #405462;
	}
}
.icon-fi-sr-camera {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e950";
		color: #405462;
	}
}
.icon-fi-sr-shopping-cart {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e951";
		color: #405462;
	}
}
.icon-fi-sr-document-signed {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e952";
		color: #405462;
	}
}
.icon-fi-sr-zoom-out {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e953";
		color: #405462;
	}
}
.icon-fi-sr-drink-alt {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e954";
		color: #405462;
	}
}
.icon-fi-sr-disk {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e955";
		color: #405462;
	}
}
.icon-fi-sr-disco-ball {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e956";
		color: #405462;
	}
}
.icon-fi-sr-moon {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e957";
		color: #405462;
	}
}
.icon-fi-sr-woman-head {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e958";
		color: #405462;
	}
}
.icon-fi-sr-doctor {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e959";
		color: #405462;
	}
}
.icon-fi-sr-zoom-in {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e95a";
		color: #405462;
	}
}
.icon-fi-sr-print {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e95b";
		color: #405462;
	}
}
.icon-fi-sr-wind {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e95c";
		color: #405462;
	}
}
.icon-fi-sr-graduation-cap {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e95d";
		color: #405462;
	}
}
.icon-fi-sr-wheelchair {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e95e";
		color: #405462;
	}
}
.icon-fi-sr-diploma {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e95f";
		color: #405462;
	}
}
.icon-fi-sr-bulb {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e960";
		color: #405462;
	}
}
.icon-fi-sr-portrait {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e961";
		color: #405462;
	}
}
.icon-fi-sr-search {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e962";
		color: #405462;
	}
}
.icon-fi-sr-presentation {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e963";
		color: #405462;
	}
}
.icon-fi-sr-credit-card {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e964";
		color: #405462;
	}
}
.icon-fi-sr-user-add {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e965";
		color: #405462;
	}
}
.icon-fi-sr-drumstick {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e966";
		color: #405462;
	}
}
.icon-fi-sr-briefcase {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e967";
		color: #405462;
	}
}
.icon-fi-sr-yen {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e968";
		color: #405462;
	}
}
.icon-fi-sr-copyright {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e969";
		color: #405462;
	}
}
.icon-fi-sr-microphone {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e96a";
		color: #405462;
	}
}
.icon-fi-sr-download {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e96b";
		color: #405462;
	}
}
.icon-fi-sr-comment {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e96c";
		color: #405462;
	}
}
.icon-fi-sr-wifi-alt {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e96d";
		color: #405462;
	}
}
.icon-fi-sr-dollar {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e96e";
		color: #405462;
	}
}
.icon-fi-sr-world {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e96f";
		color: #405462;
	}
}
.icon-fi-sr-play-alt {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e970";
		color: #405462;
	}
}
.icon-fi-sr-utensils {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e971";
		color: #405462;
	}
}
.icon-fi-sr-database {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e972";
		color: #405462;
	}
}
.icon-fi-sr-dice {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e973";
		color: #405462;
	}
}
.icon-fi-sr-copy-alt {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e974";
		color: #405462;
	}
}
.icon-fi-sr-play {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e975";
		color: #405462;
	}
}
.icon-fi-sr-cursor-text {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e976";
		color: #405462;
	}
}
.icon-fi-sr-bookmark {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e977";
		color: #405462;
	}
}
.icon-fi-sr-clock {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e978";
		color: #405462;
	}
}
.icon-fi-sr-cursor-text-alt {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e979";
		color: #405462;
	}
}
.icon-fi-sr-video-camera {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e97a";
		color: #405462;
	}
}
.icon-fi-sr-dart {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e97b";
		color: #405462;
	}
}
.icon-fi-sr-data-transfer {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e97c";
		color: #405462;
	}
}
.icon-fi-sr-alarm-clock {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e97d";
		color: #405462;
	}
}
.icon-fi-sr-phone-call {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e97e";
		color: #405462;
	}
}
.icon-fi-sr-heart {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e97f";
		color: #405462;
	}
}
.icon-fi-sr-delete {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e980";
		color: #405462;
	}
}
.icon-fi-sr-folder {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e981";
		color: #405462;
	}
}
.icon-fi-sr-home {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e982";
		color: #405462;
	}
}
.icon-fi-sr-vector {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e983";
		color: #405462;
	}
}
.icon-fi-sr-dashboard {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e984";
		color: #405462;
	}
}
.icon-fi-sr-paper-plane {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e985";
		color: #405462;
	}
}
.icon-fi-sr-envelope {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e986";
		color: #405462;
	}
}
.icon-fi-sr-settings {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e987";
		color: #405462;
	}
}
.icon-fi-sr-picture {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e988";
		color: #405462;
	}
}
.icon-fi-sr-file {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e989";
		color: #405462;
	}
}
.icon-fi-sr-document {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e98a";
		color: #405462;
	}
}
.icon-fi-sr-volleyball {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e98b";
		color: #405462;
	}
}
.icon-fi-sr-cross-small {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e98c";
		color: #405462;
	}
}
.icon-fi-sr-stopwatch {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e98d";
		color: #405462;
	}
}
.icon-fi-sr-apps {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e98e";
		color: #405462;
	}
}
.icon-fi-sr-duplicate {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e98f";
		color: #405462;
	}
}
.icon-fi-sr-diamond {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e990";
		color: #405462;
	}
}
.icon-fi-sr-cursor {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e991";
		color: #405462;
	}
}
.icon-fi-sr-transform {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e992";
		color: #405462;
	}
}
.icon-fi-sr-volume {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e993";
		color: #405462;
	}
}
.icon-fi-sr-vector-alt {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e994";
		color: #405462;
	}
}
.icon-fi-sr-venus {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e995";
		color: #405462;
	}
}
.icon-fi-sr-venus-double {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e996";
		color: #405462;
	}
}
.icon-fi-sr-venus-mars {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e997";
		color: #405462;
	}
}
.icon-fi-sr-box {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e998";
		color: #405462;
	}
}
.icon-fi-sr-user {
  &.primary {
    &:before {
      color: $primary;
    }
  }
  &.secondary {
    &:before {
      color: $secondary;
    }
  }
	&:before {
		content: "\e999";
		color: #405462;
	}
}

