<div class="content-block ui-components-range-block bd-content">

  <h1 class="bd-title" id="content">Popover</h1>

  <div class="my-5">

    <h2 class="mb-2" id="range">Example<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#range" style="padding-left: 0.375em;"></a></h2>

    <div class="content-container mb-3">

      <h4 class="mt-5 mb-3" id="defaultRange">Default Range<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#defaultRange" style="padding-left: 0.375em;"></a></h4>

      <div class="bd-example mt-showcase">
        <label for="customRange1" class="form-label d-none">Default range</label>
        <input type="range" class="form-range" id="customRange1">
      </div>

      <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
      <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
  <span class="p">&lt;</span><span class="nt">label</span> <span class="na">for</span><span class="o">=</span><span class="s">"customRange1"</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-label"</span><span class="p">&gt;</span>Example range<span class="p">&lt;/</span><span class="nt">label</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">"range"</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-range"</span> <span class="na">id</span><span class="o">=</span><span class="s">"customRange1"</span><span class="p">&gt;</span></code></pre></div>

    </div>

    <div class="content-container mb-3">

      <h4 class="mt-5 mb-3" id="progressRange">Range with Progress<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#progressRange" style="padding-left: 0.375em;"></a></h4>

      <div class="bd-example mt-showcase">
        <label for="rangeProgressSlider" class="form-label d-none"> Age</label>
        <input class="form-range progress-range" id="rangeProgressSlider" type="range" value="50" min="0" max="100">
      </div>

      <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
      <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
  <span class="p">&lt;</span><span class="nt">label</span> <span class="na">for</span><span class="o">=</span><span class="s">"rangeProgressSlider"</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-label"</span><span class="p">&gt;</span>Range Progress<span class="p">&lt;/</span><span class="nt">label</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">"range"</span> <span class="na">class</span><span class="o">=</span><span class="s">"form-range progress-range"</span> <span class="na">id</span><span class="o">=</span><span class="s">"rangeProgressSlider"</span><span class="na">value</span><span class="o">=</span><span class="s">"50"</span> <span class="na">min</span><span class="o">=</span><span class="s">"0"</span> <span class="na">max</span><span class="o">=</span><span class="s">"100"</span> <span class="p">&gt;</span></code></pre></div>


    </div>

    <div class="content-container mb-3">

      <h4 class="mt-5 mb-3" id="progressRangeGroup">Range Group<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#progressRangeGroup" style="padding-left: 0.375em;"></a></h4>

      <div class="bd-example mt-showcase">
        <div class="range-group" pos="44,60,78,88"></div>
      </div>

      <div class="mb-3">
        <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
        <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="nx"><span class="kd">var</span> elem = <span class="nb">document</span>.querySelector(<span class="s1">'.range-group'</span>)</span>
<span class="nx"><span class="kd">var</span> pos = <span class="nb">elem</span>.getAttribute(<span class="s1">'pos'</span>).split('<span class="s1">,</span>').map(Number)</span>
<span class="nx"><span class="kd">var</span> range = new <span class="nb">MultiRange</span>(elem, {{'{'}} ranges : <span class="s1">pos</span>, step   : <span class="s1">0</span> {{'}'}});</span>
</code></pre></div>
      </div>

      <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
        <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">"range-group"</span> <span class="na">pos</span><span class="o">=</span><span class="s">"44,60,78,88"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>
    </div>


  </div>

</div>
