// Validitron House Style
// Copyright © 2022 Centre for Digital Transformation of Health

// Helpers

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  
  @return $string;
}


// Fonts
// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
// Linked from the HTML for performance reasons.

:root{
  --default-color-rgb:68,68,68;
  --active-color-rgb:207,226,151;
}
$font-family-sans-serif: 'Source Sans Pro', sans-serif !default;
$title-font-family-sans-serif: 'Aldrich', 'Source Sans Pro', sans-serif !default;
$font-size-root: 1em !default;

// Grid
$grid-columns: 48 !default;

//color
$white:#ffffff !default;
$default-color-50:#797979ab !default;
$default-color-25:#7979797e !default;
$light-grey:#f2f2f2 !default;

$default-color:#444444 !default;
$default-border-color:#444444 !default;

$hover-color:#82ccb1 !default;
$focus-color:#44c2cf !default;
$focus-light-color:#cbeaed !default;
$active-color:#cfe297 !default;
$disable-color:#797979ab !default;

$navbar-light-active-color:#cfe297 !default;
$navbar-light-hover-color: #cbeaed !default;
$navbar-light-focus-color: #44c2cf !default;
$navbar-light-color: #444444 !default;

$navbar-nav-link-padding-x:0 !default;
$navbar-nav-item-padding-x:.5rem !default;

$control-background-color: #e6e5de !default;

//radius value
$round-100:50% !default;
$round-10:10% !default;
$border-radius:.3rem !default;

// Body
$body-color: $default-color !default;

// Links
$link-color: $hover-color !default;
$link-default: $hover-color !default;
$link-hover: $focus-color !default;
$link-focused: $focus-color !default;
$link-selected: $active-color !default;
$link-visited: $default-color !default;
$link-disabled: $disable-color !default;

// Buttons
$btn-dark:$default-color !default;

// Input
$input-border-radius: $border-radius !default;

// Breadcrumbs
$breadcrumb-active-color: $active-color !default;
// Tabs
$tab-nav-link-padding-y: 1.1rem !default;
$tab-nav-link-padding-x: 1.3rem !default;
// Sidebar
$sidebar-nav-link-padding-x: 1.3rem !default;
$sidebar-nav-link-padding-y: 1.1rem !default;
// Modal
$dark-bg: $default-color !default;
$dark-fg: $white !default;
// Card
$card-border-radius: 0.5rem !default;
// Alert
$alert-warning-color: #e08026 !default;
$alert-danger-color: #e0290e !default;
$alert-secondary-color: #e6e5de !default;
// Toast
$background-black: #000000 !default;
$toast-warning-color: #e08026 !default;
$toast-danger-color: #e0290e !default;
$toast-secondary-color: #e6e5de !default;
// General
$warning-color: #e08026 !default;
$danger-color: #e0290e !default;
$secondary-color: #e6e5de !default;
$secondary-color-light: #818181 !default;
// Buttons
$btn-font-sizze: 0.89rem !default;
$btn-padding-x: 2.2rem !default;
$btn-padding-y: 0.5rem !default;
$btn-success-color: #cfe297 !default;
$btn-success-color-hover: #e5f0c6 !default;
$btn-success-color-hover-border: #ecf4d6 !default;
$btn-success-color-focused: #aacd49 !default;
$btn-warning-color: #e08026 !default;
$btn-warning-color-hover: #ecb27e !default;
$btn-warning-color-focused: #c26b1c !default;
$btn-warning-color-active: #e08026 !default;
$btn-danger-color: #e0290e !default;
$btn-danger-color-hover: #f56f5d !default;
$btn-danger-color-focused: #bc210c !default;
$btn-danger-color-active: #e0290e !default;
$btn-info-color: #e5e5de !default;
$btn-dark-i-color: $focus-color !default;
$btn-dark-i-color-hover: $focus-light-color !default;
$btn-dark-i-color-hover-border: #949494 !default;
$btn-dark-i-color-focused: $focus-light-color !default;
$dark-blue: #203864 !default;
// Toolbar
$toolbar-background-color: #e6e5de !default;
// Pill
$badge-font-size: 1em !default;
$badge-font-weight: 600 !default;
$badge-warning-color: #e08026 !default;
$badge-danger-color: #e0290e !default;
$badge-secondary-color: #e6e5de !default;
$badge-padding-y: .25em !default;
$badge-padding-x: 1.8em !default;
// Tag
$tag-font-size: 1em !default;
$tag-padding-y: .25em !default;
$tag-padding-x: .5em !default;
$tag-border-radius: .4em !default;
//Form
$form-label-font-size: 0.9em !default;
$form-focused-color: $focus-color !default;
$form-control-placeholder-color: $default-color-25 !default;
// Form background
$form-bg-color: #f5f5f2 !default;
// Form invalid
$form-invalid-color: #fbf5d9 !default;
// Form radios
$form-radio-label-font-size: 0.8em !default;
$form-check-input-border: 0.13em solid $default-border-color !default;
$form-check-input-focus-box-shadow: none !default;
$form-check-input-checked-color: $focus-color !default;
$form-check-input-checked-bg-color: transparent !default;
$form-check-input-checked-border-color: $default-border-color !default;
$form-check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color}'/></svg>") !default;
// Form checkboxes
$disabled-color-checkbox: #b3b3b3 !default;
$form-check-input-border-radius: 0 !default;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg fill='#{$form-check-input-checked-color}' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z'/></svg>") !default;
// Hero checkbox
$hover-color: #cceaed !default;
// Selectable
$selectable-font-size: 1.0em !default;
$selectable-disabled-color: $default-color-25 !default;
// Scroll
$scroll-thumb-color-hover: #cbeaed !default;
$scroll-track-color: #f1f5f6 !default;
// Progress bar
$progress-border-radius: $border-radius !default;
// Foot
$foot-text-font-size: 0.8em !default;

$close-button-bg-image: url("data:image/svg+xml,<svg fill='#{$focus-color}' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path d='M393.4 41.37C405.9 28.88 426.1 28.88 438.6 41.37C451.1 53.87 451.1 74.13 438.6 86.63L269.3 255.1L438.6 425.4C451.1 437.9 451.1 458.1 438.6 470.6C426.1 483.1 405.9 483.1 393.4 470.6L223.1 301.3L54.63 470.6C42.13 483.1 21.87 483.1 9.372 470.6C-3.124 458.1-3.124 437.9 9.372 425.4L178.7 255.1L9.372 86.63C-3.124 74.13-3.124 53.87 9.372 41.37C21.87 28.88 42.13 28.88 54.63 41.37L223.1 210.7L393.4 41.37z'/></svg>");
$close-button-bg-image-white: url("data:image/svg+xml,<svg fill='#{$white}' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path d='M393.4 41.37C405.9 28.88 426.1 28.88 438.6 41.37C451.1 53.87 451.1 74.13 438.6 86.63L269.3 255.1L438.6 425.4C451.1 437.9 451.1 458.1 438.6 470.6C426.1 483.1 405.9 483.1 393.4 470.6L223.1 301.3L54.63 470.6C42.13 483.1 21.87 483.1 9.372 470.6C-3.124 458.1-3.124 437.9 9.372 425.4L178.7 255.1L9.372 86.63C-3.124 74.13-3.124 53.87 9.372 41.37C21.87 28.88 42.13 28.88 54.63 41.37L223.1 210.7L393.4 41.37z'/></svg>");
$close-button-bg-image-hover: url("data:image/svg+xml,<svg fill='#{$hover-color}' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path d='M393.4 41.37C405.9 28.88 426.1 28.88 438.6 41.37C451.1 53.87 451.1 74.13 438.6 86.63L269.3 255.1L438.6 425.4C451.1 437.9 451.1 458.1 438.6 470.6C426.1 483.1 405.9 483.1 393.4 470.6L223.1 301.3L54.63 470.6C42.13 483.1 21.87 483.1 9.372 470.6C-3.124 458.1-3.124 437.9 9.372 425.4L178.7 255.1L9.372 86.63C-3.124 74.13-3.124 53.87 9.372 41.37C21.87 28.88 42.13 28.88 54.63 41.37L223.1 210.7L393.4 41.37z'/></svg>");

body {
    font-family: var(--bs-font-sans-serif);
    font-size: 2em;
}

h1 {
  font-family: $title-font-family-sans-serif;
}

.hover-color{
    color: $link-hover;
    opacity: .65;
}
.focused-color{
    color: $link-focused;    
}
.selected-color{
    color: $link-selected;
}

// Round
.round-100{
  border-radius: $round-100;
}
.round-10{
  border-radius: $round-10;
}

// Dark links against a light background
 .nav {
      .nav-link {
        color: $navbar-light-color;
        padding-right: $navbar-nav-link-padding-x;
        padding-left: $navbar-nav-link-padding-x;  

        &:hover{
            color: $navbar-light-hover-color;
            border-bottom:1px solid $navbar-light-hover-color;
            background: none;
            opacity: 0.6;
            padding: 0.5rem 0rem 0.4rem 0rem;
          }
        &:focus {
          color: $focus-color;
          border-bottom:1px solid $focus-color;
          padding: 0.5rem 0rem 0.4rem 0rem;
        }
        &:active {
          color: $active-color;
          background: none;
          border-bottom:1px solid $active-color;
          padding: 0.5rem 0rem 0.4rem 0rem;
        }
  
      }
  
      .show > .nav-link,
      .nav-link.active {
        color: $active-color;
        border-bottom:1px solid $active-color;
      }
    }  
    
    .nav {
      color: $navbar-light-color;  
      a,
      a:hover,
      a:focus  {
        color: $navbar-light-active-color;
      }
    }
.bg-grey-light{
    background-color:$control-background-color;
}
// Table
$table-th-font-weight: 600 !default;
$table-th-text-transform: capitalize !default;

@import "bootstrap/bootstrap-custom";

header .logo 
{
  font-family: $title-font-family-sans-serif;
  font-size: 1.4em;
  text-decoration: none;
  text-transform: uppercase;
  flex-direction: row;
  display: flex;
  align-items: center;
  color: $focus-color;
}
header .logo > img {
    height: 90px;
    margin-top: -0.7em;
}
header .logo > span {
  margin-left: 1.3em;
}
header .logo > span::before {
  content: " ";
  height: 2.2em;
  width: 0.2em;
  display: block;
  border-left: 0.05em solid $default-color-50;
  position: absolute;
  margin-top: -0.4em;
  margin-left: -1em;
}

.login-nav a{
    border-right: 1px solid $default-color-50;
    color: $secondary;
    line-height: 1.2rem;
}
.login-nav a:last-child{
    border-right: none;
}
.foot-text span{
    border-right: 1px solid $secondary-color-light;
    font-size: $foot-text-font-size;
}
.foot-text span:last-child{
    border-right: none;
}

.typography-styles{    

    a.link-default{
      color:$link-default;
    }
    a.link-hover{
      color:$link-hover;
    }
    a.link-focused{
      color:$link-focused;
    }
    a.link-selected{
      color:$link-selected;
    }
    a.link-visited{
      color:$link-visited;
    }
    a.link-disabled{
      color:$link-disabled;
    }   

}
.disable{
    cursor: pointer;
    pointer-events: none;
    color: rgba(var(--default-color-rgb),.4);
}
.caption{
    font-style: italic;
}
//text
.text-blue
{
  color:$focus-color
}
//table 
.table-heading{
    text-transform: uppercase;
    font-weight: 600;
}
table thead th{
  font-weight: $table-th-font-weight;
  text-transform: $table-th-text-transform;
  color:$default-color;
}
table.color-border td, table.color-border th {
  border-color: $focus-color ;
}
.table-responsive{
  table thead
  {
    border-top: 0.1em solid $focus-color;
  }
  table thead th
  {
    color: $focus-color;
    font-weight: 700;
  }
}
//control table
table.control-table{
  border-collapse: separate;
  border-spacing: 0 .2em;
  th 
  {
    color: $focus-color;
    font-weight: 700;
  }
}
.control-table .icon{
  width: 35px;
  height: 35px;  
  color: $white;
  font-size: 1.2rem;
  background-color: $default-color;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.control-table tbody td, .control-table tbody th{
  background: $control-background-color;
  padding: 1rem;
  vertical-align: middle;
}

//button
.btn, button{
  border-radius: $border-radius;
  box-shadow: none;
  font-size: $btn-font-size;
  font-weight: 600;
  &:hover, &:focus, &:active, &:active:focus
  {
    box-shadow: none;
  }
  &:disabled
  {
    background-color: transparent;
  }
}

.btn-secondary{
  background-color: $btn-dark;
}
.form-group
{
  margin-bottom: 0.7em;
}
.form-label, .col-form-label{
  font-weight: 700;
  font-size: $form-label-font-size;
  color: $focus-color;
  margin-bottom: 0.1rem;
}
::selection  {
  background-color: $active-color;
}
.form-control:focus::selection {
  background-color: $active-color;
}
.form-control, .form-select{
  &:focus{
    box-shadow: none;
    outline: none;
    border-color: $form-focused-color;
    color:$white;
    background-color: $form-focused-color;
  }
  &:focus::placeholder, &:hover::placeholder{
    color: $white;
  }
  &:focus::-moz-placeholder, &:hover::-moz-placeholder{
    color: $white;
  }
  &:focus::-webkit-input-placeholder, &:hover::-webkit-input-placeholder{
    color: $white;
  }
  &:hover{
    background-color: $form-focused-color;
    border-color: $form-focused-color;
    color: $white;
  }
  &:hover::placeholder{
    color: $default-color-25;
  }
  &:disabled{
    background-color: $white;
    border-color: $default-border-color;
    color: $default-color;
    opacity: 0.4;
  }   
}
.form-select
{
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
  background-size: 1em 0.75em;
  &:hover
  {
    border-color: $focus-color;
    background: $white;
    color: $default-color;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1em 0.75em;
  }
  &:focus
  {
    border-color: $focus-color;
    background: $focus-color;
    color: $white;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' class='bi bi-chevron-down' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1em 0.75em;
  }
  &:disabled:hover
  {
    border-color: $default-color-50;
  }
}

.nav-item{
  padding-left: $navbar-nav-item-padding-x;
  padding-right: $navbar-nav-item-padding-x;
}

.code-block {
  text-align: center;
  background: $light-grey;
  position: relative;
  padding-top: 2em;
}
.bd-clipboard{
  position: relative;
}
button.btn-clipboard{
  position: absolute;
  z-index: 2;
  background: $white;
  border: .1em solid $focus-color;
  top:1em;
  left:1em;
  &:hover{
    background-color: $focus-color;
    color:$white;
    opacity: .5;
  }
  &:focus{
    box-shadow: none;
    background-color: $focus-color;
    color:$white;
  }
  &:active{
    background-color: #cfe297;
  }
}

//breadcrumb
.breadcrumb{
  li a{
      color: $default-color;
    &:hover{
      color:$focus-color;
      opacity: .5;
    }
    &:focus{
      color:$focus-color;
    }
    &:active{
      color:$active-color;
    }
  }
}
//Tabs
.nav-pills
{
  .nav-item
  {
    padding: 0.1em;
  }
  li a.nav-link{
    color: $default-color;
    background-color: transparent;
    border: 0.1rem solid $default-border-color;
    border-radius: 0;
    padding: $tab-nav-link-padding-y $tab-nav-link-padding-x;

    &:hover{
      color: $focus-color;
      background-color: none;
      border: 0.1rem solid $focus-color;
      opacity: 1;
      padding: $tab-nav-link-padding-y $tab-nav-link-padding-x;
    }
    &:focus{
      background-color: $focus-color;
      color: $white;
      border: 0.1rem solid $focus-color;
      padding: $tab-nav-link-padding-y $tab-nav-link-padding-x;
    }
    &:active
    {
      background-color: $active-color;
      color: $default-color;
      border-color: $active-color;
      padding: $tab-nav-link-padding-y $tab-nav-link-padding-x;
    }
  }
  li a.nav-link.active
  {
    background-color: $active-color;
    color: $default-color;
    border-color: $active-color;
    padding: $tab-nav-link-padding-y $tab-nav-link-padding-x;
  }
  li a.nav-link.disabled
  {
    background-color: none;
    color: $default-color-50;
    border-color: $default-color-50;
    padding: $tab-nav-link-padding-y $tab-nav-link-padding-x;
  }
}
//side Navs
.sidenav
{
  .nav-item
  {
    padding: 0.1em;
  }
  li a i{
    font-size: 2rem;
    margin-right: 1rem;
  }
  li a.nav-link{
    display: flex;
    align-items: center;
    padding: $sidebar-nav-link-padding-y $sidebar-nav-link-padding-x;
    color: $default-color;
    background-color: transparent;
    border: 0.1rem solid $default-border-color;
    border-radius: 0;

    &:hover{
      color: $white;
      background: $navbar-light-hover-color;
      border: 0.1rem solid $navbar-light-hover-color;
      opacity: 1;
      padding: $tab-nav-link-padding-y $tab-nav-link-padding-x;
    }
    &:focus{
      background-color: $focus-color;
      color: $white;
      border: 0.1rem solid $focus-color;
      padding: $tab-nav-link-padding-y $tab-nav-link-padding-x;
    }
    &:active
    {
      background-color: $active-color;
      color: $default-color;
      border-color: $active-color;
      padding: $tab-nav-link-padding-y $tab-nav-link-padding-x;
    }
  }
  li a.nav-link.active
  {
    background-color: $active-color;
    color: $default-color;
    border-color: $active-color;
    padding: $tab-nav-link-padding-y $tab-nav-link-padding-x;
  }
  li a.nav-link.disabled
  {
    background-color: none;
    color: $default-color-50;
    border-color: $default-color-50;
    padding: $tab-nav-link-padding-y $tab-nav-link-padding-x;
  }
}
//modal
.modal-dark
{
  background-color: $dark-bg;
  color: $dark-fg;
  .form-label
  {
    color: $white;
  }
}

.modal
{
  color: $focus-color;
  .modal-header
  {
    padding-bottom: 0;
    border-bottom: none;
  }
  .modal-btn
  {
    padding: 0.5em 2.2em;
    color: $white;
  }
  .modal-btn.btn-primary
  {
    border-color: $focus-color;
    background-color: $focus-color;
    color: $white;
  }
  .body-input
  {
    margin-top : 2rem;
  }
  .modal-body
  {
    padding-top: 0;
    
    h6{
      font-weight: bold;
    }
  }
  .btn-close
  {
    opacity: 1;
    margin-bottom: 2em;
    background: transparent escape-svg($close-button-bg-image) center/1em auto no-repeat;
    &:hover, &:focus, &:active
    {
      box-shadow: none;
      background-image: escape-svg($close-button-bg-image-hover);
      opacity: 1;
    }
  }
  .modal-footer
  {
    padding-top: 0;
    border-top: none;
  }
}
.modal-dark
{
  .btn-close
  {
    opacity: 1;
    margin-bottom: 2em;
    background: transparent escape-svg($close-button-bg-image-white) center/1em auto no-repeat;
    &:hover, &:focus, &:active
    {
      box-shadow: none;
      background-image: escape-svg($close-button-bg-image-hover);
      opacity: 1;
    }
  }
}
//cards
.card.bg-default
{
  position: relative;
  background: $white;
  .btn-close
  {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    opacity: 1;
    margin-bottom: 2em;
    background: transparent escape-svg($close-button-bg-image) center/1em auto no-repeat;
    &:hover, &:focus, &:active
    {
      box-shadow: none;
      background-image: escape-svg($close-button-bg-image-hover);
      opacity: 1;
    }
  }
}
.card
{
  position: relative;
  .btn-close
  {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    opacity: 1;
    margin-bottom: 2em;
    background: transparent escape-svg($close-button-bg-image-white) center/1em auto no-repeat;
    &:hover, &:focus, &:active
    {
      box-shadow: none;
      background-image: escape-svg($close-button-bg-image-hover);
      opacity: 1;
    }
  }  
}
.card
{
  padding: 0.5rem;
  box-shadow: 0 0 0.5em 0 $default-color;
}
.card h6
{
  font-weight: 600;
}
.card-title
{
  text-transform: uppercase;
}
.card-bg-blue
{
  background-color: $focus-color;
}
.card-image
{
  object-fit: cover;
  height: 100%;
}
//Toast
.alert
{
  text-align: center;
  font-weight: 600;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  background-color: $focus-color;
  color: $white;
  padding: 0.5rem 1rem;
}
.alert-success
{
  background-color: $active-color;
  color: $default-color;
}
.alert-warning
{
  background-color: $alert-warning-color;
  color: $white;
}
.alert-danger
{
  background-color: $alert-danger-color;
  color: $white;
}
.alert-secondary
{
  background-color: $alert-secondary-color;
  color: $default-color;
}
//toast
.toast-container
{
  position: fixed;
  z-index: 10;
}
.toast
{
  background-color: $white;
  color: $default-color;
  display: none;
  .toast-contents
  {
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .toast-header
  {
    background: none;
    color: $default-color-50;
    justify-content: space-between;
    border-bottom: none;
    .btn-close
    {
      opacity: 1;
      margin-bottom: 2em;
      background: transparent escape-svg($close-button-bg-image) center/1em auto no-repeat;
      &:hover, &:focus, &:active
      {
        box-shadow: none;
        background-image: escape-svg($close-button-bg-image-hover);
        opacity: 1;
      }
    }
  }
  .toast-footer
  {
    height: 1.5rem;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
.toast-primary
{
  .toast-footer
  {
    background-color: $focus-color;
  }
}
.toast-success
{
  .toast-footer
  {
    background-color: $active-color;
  }
}
.toast-warning
{
  .toast-footer
  {
    background-color: $toast-warning-color;
  }
}
.toast-danger
{
  .toast-footer
  {
    background-color: $toast-danger-color;
  }
}
.toast-secondary
{
  .toast-footer
  {
    background-color: $toast-secondary-color;
  }
}
.toast.show
{
  display: block;
}
//button
.btn.btn-info
{ 
  background-color: $btn-info-color;
  color: $white;
  border-color: $btn-info-color;
  box-shadow: none;
  &:active
  {
    box-shadow: none;
  }
  &:hover
  {
    color: $white;
    border-color: $focus-light-color;
    background-color: $focus-light-color;
    box-shadow: none;
  }
  &:focus
  {
    background-color: $focus-color;
    border-color: $focus-color;
    color: $white;
    box-shadow: none;
  }
  &:active
  {
    background-color: $active-color;
    border-color: $active-color;
    color: $white;
    box-shadow: none;
  }
  &:disabled
  {
    background: transparent;
    border-color: $default-color-50;
    color: $default-color-50;
  }
}
.dark-background
{
  color: $white;
  background-color: $dark-blue;
  padding: 1em;
}
.btn.btn-light-i
{
  background-color: $btn-info-color;
  color: $white;
  border-color: $btn-info-color;
  box-shadow: none;
  &:active
  {
    box-shadow: none;
  }
  &:hover
  {
    color: $white;
    border-color: $focus-light-color;
    background-color: $focus-light-color;
    box-shadow: none;
  }
  &:focus
  {
    background-color: $focus-color;
    border-color: $focus-color;
    color: $white;
    box-shadow: none;
  }
  &:active
  {
    background-color: $active-color;
    border-color: $active-color;
    color: $white;
    box-shadow: none;
  }
  &:disabled
  {
    background: transparent;
    border-color: $default-color-50;
    color: $default-color-50;
  }
}
.btn.btn-dark-i
{
  background-color: $btn-dark-i-color;
  color: $white;
  border-color: $btn-dark-i-color;
  box-shadow: none;
  &:active
  {
    box-shadow: none;
  }
  &:hover
  {
    color: $white;
    border-color: $btn-dark-i-color-hover-border;
    background-color: $btn-dark-i-color-hover;
    box-shadow: none;
  }
  &:focus
  {
    background-color: $btn-dark-i-color;
    border-color: $btn-dark-i-color;
    color: $white;
    box-shadow: none;
  }
  &:active
  {
    background-color: $active-color;
    border-color: $active-color;
    color: $white;
    box-shadow: none;
  }
  &:disabled
  {
    background: transparent;
    border-color: $default-color-50;
    color: $default-color-50;
  }
}
.btn.btn-danger
{ 
  background-color: $btn-danger-color;
  color: $white;
  border-color: $btn-danger-color;
  box-shadow: none;
  &:active
  {
    box-shadow: none;
  }
  &:hover
  {
    color: $white;
    border-color: $btn-danger-color-hover;
    background-color: $btn-danger-color-hover;
    box-shadow: none;
  }
  &:focus
  {
    background-color: $btn-danger-color-focused;
    border-color: $btn-danger-color-focused;
    color: $white;
    box-shadow: none;
  }
  &:active
  {
    background-color: $btn-danger-color-active;
    border-color: $btn-danger-color-active;
    color: $white;
    box-shadow: none;
  }
  &:disabled
  {
    background: transparent;
    border-color: $default-color-50;
    color: $default-color-50;
  }
}
.btn.btn-warning
{
  background-color: $btn-warning-color;
  color: $white;
  border-color: $btn-warning-color;
  box-shadow: none;
  &:active
  {
    box-shadow: none;
  }
  &:hover
  {
    color: $white;
    border-color: $btn-warning-color-hover;
    background-color: $btn-warning-color-hover;
    box-shadow: none;
  }
  &:focus
  {
    background-color: $btn-warning-color-focused;
    border-color: $btn-warning-color-focused;
    color: $white;
    box-shadow: none;
  }
  &:active
  {
    background-color: $btn-warning-color-active;
    border-color: $btn-warning-color-active;
    color: $white;
    box-shadow: none;
  }
  &:disabled
  {
    background: transparent;
    border-color: $default-color-50;
    color: $default-color-50;
  }
}
.btn.btn-success
{
  background-color: $btn-success-color;
  color: $white;
  border-color: $btn-success-color;
  box-shadow: none;
  &:active
  {
    box-shadow: none;
  }
  &:hover
  {
    color: $white;
    border-color: $btn-success-color-hover-border;
    background-color: $btn-success-color-hover;
    box-shadow: none;
  }
  &:focus
  {
    background-color: $btn-success-color-focused;
    border-color: $btn-success-color-focused;
    color: $white;
    box-shadow: none;
  }
  &:active
  {
    background-color: $active-color;
    border-color: $active-color;
    color: $white;
    box-shadow: none;
  }
  &:disabled
  {
    background: transparent;
    border-color: $default-color-50;
    color: $default-color-50;
  }
}
.btn.btn-secondary
{
  background-color: transparent;
  color: $default-color;
  border-color: $default-border-color;
  box-shadow: none;
  &:active
  {
    box-shadow: none;
  }
  &:hover
  {
    color: $white;
    border-color: $focus-light-color;
    background-color: $focus-light-color;
    box-shadow: none;
  }
  &:focus
  {
    background-color: $focus-color;
    border-color: $focus-color;
    color: $white;
    box-shadow: none;
  }
  &:active
  {
    background-color: $active-color;
    border-color: $active-color;
    color: $white;
    box-shadow: none;
  }
  &:disabled
  {
    background: transparent;
    border-color: $default-color-50;
    color: $default-color-50;
  }
}
.btn.btn-primary
{
  background-color: $default-color;
  color: $white;
  border-color: $default-border-color;
  box-shadow: none;
  &:active
  {
    box-shadow: none;
  }
  &:hover
  {
    color: $white;
    border-color: $focus-light-color;
    background-color: $focus-light-color;
    box-shadow: none;
  }
  &:focus
  {
    background-color: $focus-color;
    border-color: $focus-color;
    color: $white;
    box-shadow: none;
  }
  &:active
  {
    background-color: $active-color;
    border-color: $active-color;
    color: $white;
    box-shadow: none;
  }
  &:disabled
  {
    background: transparent;
    border-color: $default-color-50;
    color: $default-color-50;
  }
}
//icon Button
.btn-primary.icon-btn
{
  font-size: 2rem;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
//close Button
.btn-primary.close-btn
{
  border-radius: 100%;
  font-size: 1rem;
  text-align: center;
  width: 2rem;
  height: 2rem;
  padding: 0;
}
//Dropdown
.dropdown
{
  button
  {
    box-shadow: none;
    &:hover, &:focus, &:active, &:active:focus
    {
      box-shadow: none;
    }
  }
  .btn-text
  {
    padding-left: 1.5rem;
    padding-right: 1.4rem;
    padding-top : 0.5rem;
    padding-bottom: 0.5rem;
  }
  .dropdown-toggle:disabled
  {
    border-left: 0.1rem solid $white;
  }
  .dropdown-toggle
  {
    border-left: 0.1rem solid #000;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top : 0.1rem;
    padding-bottom: 0.1rem;
    &:hover, &:focus, &:active, &:active:focus
    {
      border-left: 0.1rem solid $focus-color;
    }
  }
  span
  {
    display: flex;
    align-items: center;
  }
}
.dropdown-toggle::after
{
  display: none; 
}
.dropdown-divider
{
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  border-top: 0.1rem solid $active-color;
  opacity: 1;
}
.dropdown-menu
{
  color: $default-color;
  border-radius: 0;
  box-shadow: none;
  border: none;
  padding: 0.2em;
  border: 0.1rem solid $active-color;
  .dropdown-item
  {
    padding: 0.5rem;
    &:hover
    {
      background-color: $focus-color;
      color: $white;
    }
    &:active
    {
      background-color: $active-color;
      color: $default-color;
    }
  }
  .dropdown-item.disabled
  {
    color: $default-color-50;
    opacity: 0.5;
  }
}
//action button
.action-btn.btn.btn-primary
{
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  font-size: 2em;
  border-radius: 100%;
  color: $default-color;
  padding: 0;
  border-color: $default-border-color;

  &:hover
  {
    background: none;
    color: $focus-color;
    border-color: $focus-color;
  }
  &:focus
  {
    background: $focus-color;
    color: $white;
    border-color: $focus-color;
  }
  &:active
  {
    background: $active-color;
    color: $white;
    border-color: $active-color;
  }
}
//toolbar
.btn-toolbar
{
  background-color: $toolbar-background-color;
  padding: 0.5em;
  border-radius: $border-radius;
  .btn-group
  {
    margin-right: 0.5em;
    button
    {
      &:hover{
        border-color: $focus-color;
      }
      &:active{
        border-color: $active-color;
      }
    }
  }
  .btn
  {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    font-size: 1.5em;
    padding: 0;
    color: $default-color;
    box-shadow: none;
    
    &:hover
    {
      background: none;
      color: $focus-color;
      box-shadow: none;
    }
    &:focus
    {
      background: $focus-color;
      color: $white;
      box-shadow: none;
    }
    &:active
    {
      background: $active-color;
      color: $white;
      box-shadow: none;
    }
    &:hover, &:focus, &:active, &:active:focus
    {
      box-shadow: none;
    }
  }
}
//badge
.badge.badge-primary
{
  background: none;
  border: 0.1rem solid $default-border-color;
  color: $default-color;
}
.badge.badge-success
{
  background: $active-color;
  border: 0.1rem solid $active-color;
  color: $white;
}
.badge.badge-warning
{
  background: $badge-warning-color;
  border: 0.1rem solid $badge-warning-color;
  color: $white;
}
.badge.badge-danger
{
  background: $badge-danger-color;
  border: 0.1rem solid $badge-danger-color;
  color: $white;
}
.badge.badge-secondary
{
  background: $badge-secondary-color;
  border: 0.1rem solid $badge-secondary-color;
  color: $default-color
}
.badge.badge-muted
{
  background: none;
  border: 0.1rem solid $badge-secondary-color;
  color: $badge-secondary-color;
}
//pill
.tag-btn.active
{
  background: $focus-color;
  color: $white;
  border-color: $focus-color;
  i
  {
    border: none;
    color: $white;
  }
  i::before {
    content: "\f111"; //fa-circle
  }
}
.tag-btn.active::before
{
  border-left: 0.1em solid $focus-color;
  background-color: $focus-color;
  border-top-right-radius: $border-radius;
}
.tag-btn.active::after
{
  border-left: 0.1em solid $focus-color;
  background-color: $focus-color;
  border-bottom-right-radius: $border-radius;
}
.tag-btn
{
  position: relative;
  margin-left: 1.3em;
  background-color: transparent;
  border: 0.1em solid $default-border-color;
  padding: 0.2em 0.8em 0.2em 0.8em;
  font-weight: 600;
  font-size: $tag-font-size;
  border-radius: $border-radius;
  color: $default-color;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  border-left: none;
  i
  {
    position: absolute;
    left: -0.2em;
    top: 50%;
    color: $default-border-color;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    font-size: 0.55em;
  }
  i::before {
    content: "\f10c"; //fa-circle-o
  }
}
.tag-btn::before
{
  border-left: none;
  top: -0.10em;
  bottom: 50%;
  border-bottom: none;
  transform: skewX(320deg);
  -webkit-transform: skewX(320deg);
  content: "";
  position: absolute;
  left: -0.5em;
  right: 0.6em;
  z-index: -1;
  border-left: 0.1em solid #444444;
}
.tag-btn::after
{
  content: "";
  position: absolute;
  left: -0.5em;
  right: 0.6em;
  z-index: -1;
  top: 50%;
  bottom: -0.1em;
  transform: skewX(40deg);
  -webkit-transform: skewX(40deg);
  border-left: 0.1em solid #444444;
}
//text with Button

.form-group.input-with-btn .form-control:focus + button
{
  background-color: $focus-color;
  border-color: $white;
  color: $white;
  opacity: 1;
}
.form-group.input-with-btn .form-control.focus:hover + button
{
  background-color: $focus-color;
  border-color: $white;
  color: $white;
  opacity: 1;
}
.form-group.input-with-btn
{
  position: relative;

  .form-control
  {
    &:hover{
      background: $white;
      border-color: $focus-color;
      color: $default-color;
    }
    &:hover::placeholder{
      color: $default-color;
    }
    &:focus{
      background: $focus-color;
      border-color: $focus-color;
      color: white;
    }
    &:focus::placeholder{
      background: $focus-color;
      border-color: $focus-color;
      color: white;
    }
  }

  .form-control:hover + button
  {
    background-color: $white;
      border-color: $focus-color;
      color: $focus-color;
      opacity: 1;
  }

  button
  {
    background-color: $default-color;
    border-color: $default-border-color;
    position: absolute;
    right: 1.2rem;
    top: -0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    font-size: 2em;
    color: $white;
    box-shadow: none;
    padding: 0;
  }
  &:hover
  {
    button
    {
      background-color: $white;
      border-color: $focus-color;
      color: $focus-color;
      opacity: 1;
    }
  }
  &:focus
  {
    button
    {
      background-color: $focus-color;
      border-color: $white;
      color: $white;
      opacity: 1;
    }
  }
}
.form-group.input-with-btn.disabled
{
  pointer-events: none;
  button
  {
    background-color: $white;
    border-color: $default-color-50;
    color: $default-color-50;
    opacity: 1;
  }
}
//text button addon
.form-control.text-btn-addon
{
  margin-bottom: 0;
}
//form
form
{
  background-color: $form-bg-color;
  padding: 1.1em;
  border-radius: $border-radius;
  margin-bottom: 1rem;
  h3
  {
    color: $focus-color;
  }
}
.was-validated .form-control:valid, .form-control.is-valid
{
  background-image: none;
  background-color: $white;
  color: $default-color;
  border-color: $default-color-50;
  &:focus
  {
    background-image: none;
    background-color: $form-invalid-color;
    color: $default-color;
    border-color: $default-color-50;
    box-shadow: none;
  }
  &:focus::placeholder
  {
    color: $default-color;
  }
  &:hover
  {
    border-color: $focus-color;
  }
}
.was-validated .form-control:invalid, .form-control.is-invalid
{
  background-image: none;
  background-color: $form-invalid-color;
  color: $default-color;
  border-color: $default-color-50;
  box-shadow: none;
  &:focus
  {
    background-image: none;
    background-color: $form-invalid-color;
    color: $default-color;
    border-color: $default-color-50;
    box-shadow: none;
  }
}
//Form Radio
input[type="radio"]
{
	background-color: transparent;
}
input[type="radio"]:hover
{
	border-color: $focus-color;
  opacity: 0.5;
}
input[type="radio"]:focus
{
	border-color: $focus-color;
}
input[type="radio"]:checked
{
	border-color: $focus-color;
}
input[type="radio"]:checked:hover
{
	border-color: $default-border-color;
  opacity: 1;
}
input[type="radio"]:checked:disabled
{
  filter: grayscale(100%);
}
//likert
.likert-container
{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
  input
  {
    margin-bottom: 0.5em;
  }
  .radios
  {
    display: flex;
    justify-content: space-between;
    .form-group
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      label
      {
        font-size: $form-radio-label-font-size;
        text-align: center;
      }
    }
  }
  .likert-text
  {
    font-size: $form-radio-label-font-size;
    display: flex;
    justify-content: space-between;
  }
}
//checkbox
input[type="checkbox"]
{
  background-color: transparent;
}
input[type="checkbox"]:hover
{
	border-color: $focus-color;
  opacity: 0.5;
}
input[type="checkbox"]:focus
{
	border-color: $focus-color;
}
input[type="checkbox"]:disabled
{
	border-color: $default-border-color;
  opacity: 0.4;
}
input[type="checkbox"]:checked
{
	border-color: $focus-color;
}
input[type="checkbox"]:checked:hover
{
	border-color: $default-border-color;
  opacity: 1;
}
input[type="checkbox"]:checked:disabled
{
  filter: grayscale(100%);
}
input[type="checkbox"]:checked:disabled:hover
{
  border-color: $disabled-color-checkbox;
  opacity: 0.4;
}

@media only screen and (max-width: 768px) {
  .nav.nav-pills
  {
    flex-direction: row;
    width: 100%;
  }
  // .form-check-input
  // {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   height: fit-content;
  //   width: fit-content;
  //   position: relative;
  //   input[type="checkbox"]
  //   {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     height: 100%;
  //     width: 100%;
  //   }
  //   label
  //   {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     height: 100%;
  //     width: 100%;
  //   }
  // }
}

//hero checkbox
.hero-checkbox
{
  cursor: pointer;
  border-radius: $border-radius;
  border: 0.1em solid $default-border-color;
  max-width: fit-content;
  padding: 0.5em 1em;
  padding-left: 2.2em;

  input, label
  {
    pointer-events: none;
  }

  &:hover{
    border-color: $hover-color;
  }
  &:focus
  {
    border-color: $focus-color;
  }
}
.hero-checkbox.active
{
  border: 0.1em solid $focus-color;
  background-color: $focus-color;
  color: $white;
  .form-check-input
  {
    border-color: $white;
  }
  &:hover{
    border: 0.1em solid $default-border-color;
  }
  .form-check-input:checked[type="checkbox"]
  {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24' width='24px' height='24px'><g id='surface132858809'><path style=' stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;' d='M 4.707031 3.292969 L 3.292969 4.707031 L 10.585938 12 L 3.292969 19.292969 L 4.707031 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.707031 L 19.292969 3.292969 L 12 10.585938 Z M 4.707031 3.292969 '/></g></svg>");
  }
}
.hero-checkbox.active.disabled , .hero-checkbox.disabled
{
  border: 0.1em solid $default-color-50;
  background-color: $white;
  color: $default-color-50;
  opacity: 0.5;
  .form-check-input
  {
    border-color: $default-color-50;
  }
  .form-check-input:checked[type="checkbox"]
  {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24' width='24px' height='24px'><g id='surface132858809'><path style=' stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:0.6;' d='M 4.707031 3.292969 L 3.292969 4.707031 L 10.585938 12 L 3.292969 19.292969 L 4.707031 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.707031 L 19.292969 3.292969 L 12 10.585938 Z M 4.707031 3.292969 '/></g></svg>");
  }
}
//Selectable
.selectable
{
  border-radius: 0.7em;
  border: 0.1em solid $default-border-color;
  font-size: $selectable-font-size;
  width: fit-content;
  background: transparent;
  z-index: 1;
  .selectable-text
  {
    border-bottom: 0.1em solid $default-color;
    span
    {
      display: block;
      padding: 0.3em;
    }
  }
  .selectable-input
  {
    padding: 0.6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  label
  {
    margin-right: 0.5em;
  }
  input
  {
    width: 50%;
    border: 0.1em solid $default-border-color;
  }

  &:hover{
    border-color: $focus-light-color;
    .selectable-text
    {
      border-bottom: 0.1em solid $focus-light-color;
    }
    input
    {
      border: 0.1em solid $focus-light-color;
    }
  }
  &:focus{
    border-color: $focus-color;
    .selectable-text
    {
      border-bottom: 0.1em solid $focus-color;
    }
    input
    {
      border: 0.1em solid $focus-color;
    }
  }
}
.selectable.active
{
  border-color: $focus-color;
  background-color: $focus-color;
  color: $white;
  .selectable-text
  {
    border-bottom: 0.1em solid $focus-color;
  }
  input
  {
    border: 0.1em solid $focus-color;
  }
  &:hover{
    border-color: $default-border-color;
    .selectable-text
    {
      border-bottom: 0.1em solid $default-color
    }
  }
}
.selectable.disabled
{
  pointer-events: none;
  border-color: $selectable-disabled-color;
  background-color: $white;
  color: $selectable-disabled-color;
  .selectable-text
  {
    border-bottom: 0.1em solid $selectable-disabled-color;
  }
  input
  {
    border: 0.1em solid $selectable-disabled-color;
  }
}
.selectable.active.disabled
{
  pointer-events: none;
  border-color: $selectable-disabled-color;
  background-color: $selectable-disabled-color;
  color: $white;
  .selectable-text
  {
    border-bottom: 0.1em solid $selectable-disabled-color;
  }
  input
  {
    border: 0.1em solid $white;
    background-color: $selectable-disabled-color;
  }
}
a.selectable-text.selectable-with-icon.disabled
{
  background: none;
  border-color: $default-color-25;
  span
  {
    color: $default-color-25;
    i
    {
      color: $default-color-25;
    }
  }
  &:hover
  {
    background: none;
    border-color: $default-color-25;
    span
    {
      color: $default-color-25;
      i
      {
        color: $default-color-25;
      }
    }
  }
  &:active
  {
    background: none;
    border-color: $default-color-25;
    span
    {
      color: $default-color-25;
      i
      {
        color: $default-color-25;
      }
    }
  }
}
a.selectable-text.selectable-with-icon.active.disabled
{
  background-color: $default-color-25;
  border: $default-color-25;
  color: $white;
  span
  {
    color: $white;
    i
    {
      color: $white;
    }
  }
  &:hover
  {
    background-color: $default-color-25;
    border-color: $default-color-25;
    
    span
    {
      color: $white;
      i
      {
        color: $white;
      }
    }
  }
  &:active
  {
    background-color: $default-color-25;
    border-color: $default-color-25;
    
    span
    {
      color: $white;
      i
      {
        color: $white;
      }
    }
  }
}
a.selectable-text.selectable-with-icon.active
{
  border-color: $focus-color;
  background-color: $focus-color;
  span
  {
    color: $white;
    i
    {
      color: $white;
    }
  }
  &:hover
  {
    border-color: $default-border-color;
    span
    {
      color: $white;
      i
      {
        color: $white;
      }
    }
  }
  &:active
  {
    border-color: $default-border-color;
    span
    {
      color: $white;
      i
      {
        color: $white;
      }
    }
  }
}
a.selectable-text.selectable-with-icon
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1em 0.5em;
  text-decoration: none;
  width: fit-content;
  border: 0.1em solid $default-border-color;
  border-radius: $border-radius;
  span
  {
    display: flex;
    color: $default-color;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    padding: 0;
    margin-right: .35em;
    i
    {
      font-size: 2em;
      margin-right: .35em;
    }
  }
  &:hover
  {
    border-color: $focus-light-color;
    span
    {
      i
      {
        color: $focus-light-color;
      }
    }
  }
  &:focus
  {
    border-color: $focus-color;
    span
    {
      i
      {
        color: $focus-color;
      }
    }
  }
  &:active
  {
    border-color: $focus-color;
    background: $focus-color;
    span
    {
      color: $white;
      i
      {
        color: $white;
      }
    }
  }
}
//File Upload
.fileUpload{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15em;
  border-radius: $border-radius;
  border: 0.1em solid $default-border-color;
  overflow-x: auto;
}
.fileUpload 
{
  .uploadText
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span
    {
      font-size: 6em;
      opacity: 0.1;
    }
    p
    {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.fileUpload input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  z-index: 1;
}
.uploadedFile
{
  position: absolute;
  margin: 0;
  left: 0;
  padding: 0.5em;
  width: fit-content;
  height: 100%;
  outline: none;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  z-index: 2;
  
  .file-div
  {
    margin-right: 0.6em;
    position: relative;
    background-color: $focus-color;
    width: 12em;
    height: 100%;
    border-radius: 0.5em;
    display: flex;
    padding: 0.6em;
    padding-top: 2.5em;
    flex-direction: column;
    color: $white;
    button
    {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.5em;
      filter: invert(100%);
      opacity: 1;
    }
    span
    {
      font-size: 2.5em;
    }
    .filename
    {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }
  }
}
//scroll
.scroll-container
{
  position: relative;
  overflow-y: auto;
  height: 20em;
  width: 5%;
  .scroll-big-div
  {
    position: absolute;
    top: 0;
    left: 0;
    height: 500%;
    width: 100%;
    background-color: $white;
  }
}
/* width */
::-webkit-scrollbar {
  width: 0.6em;
  // opacity: 0;
}
// ::-webkit-scrollbar:hover {
//   opacity: 1;
// }

/* Track */
::-webkit-scrollbar-track {
  background: $scroll-track-color;
  border-radius: 9999px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $default-color;  
  border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $scroll-thumb-color-hover; 
}
::-webkit-scrollbar-thumb:focus {
  background: $focus-color; 
}
::-webkit-scrollbar-thumb:active {
  background: $active-color; 
}
//Progressbar
.progress
{
  border-radius: 9999px;

  .progress-bar
  {
    background-color: $focus-color;
    border-radius: 9999px;
  }
  .progress-bar-indeterminate
  {
    background-color: $focus-color;
    width: 15%;
    animation-name: indeterminateProgressBar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
    -webkit-animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  
}
@keyframes indeterminateProgressBar {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(566%);
  }
}
// Spinner
.spinner-border {
  border: $spinner-border-width solid $focus-color;
  border-right-color: transparent;
}
// Header
.hamburger-menu-container
{
  position: relative;
  margin: 1.2em;
  display: none;
  .hamburder-menu, .back-menu
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 768px) {
  .table, table
  {
    width: 574px;
  }
  .login-nav.d-flex
  {
    display: none !important;
  }
  .nav
  {
    flex-direction: column;
  }
  header .justify-content-center
  {
    justify-content: left !important;
  }
  .nav-sec
  {
    display: none;
    width: 100%;
  }
  .hamburger-menu-container
  {
    display: block;
  }
  .back-menu
  {
    display: none;
  }
  .form-check.responsive-checkbox
  {
    padding-left: 0;
    .form-check-input
    {
      display: none;
    }
    .form-check-input:disabled + .form-check-label
    {
      background-color: none;  
      border-color: $default-color-25;
      color: $default-color-25;
    }
    
    .form-check-input:checked + .form-check-label
    {
      background-color: $focus-color;  
      border-color: $focus-color;
      color: $white;
    }
    .form-check-input:checked + .form-check-label:hover
    {
      border-color: $default-border-color;
    }
    .form-check-label
    {
      border-radius: $border-radius;
      padding: 0.3em 2.5em;
      border: 0.1em solid $default-border-color;
    }
    .form-check-label:hover
    {
      border-color: $hover-color;
    }
    .form-check-label:focus
    {
      border-color: $focus-color;
    } 
    .form-check-input:checked:disabled + .form-check-label
    {
      background-color: $default-color;  
      border-color: $default-border-color;
      color: $white;
      opacity: 0.1;
    }
  }
}
.copyToClipboard
{
  float: right;
}
//form Control
.form-control:hover
{
  background-color: $white;
  border-color: $focus-color;
  color: $default-color;
}
.form-control::placeholder {
  color: $form-control-placeholder-color;
}
.form-control:hover::placeholder
{
  color: $default-color;
}
.form-control:disabled::placeholder
{
  color: $default-color;
}
.form-control:hover:disabled
{
  border-color: $default-border-color;
  opacity: 0.4;
}
.form-control.focus:hover
{
  background-color: $focus-color;
  border-color: $focus-color;
  color: $white;
  .btn
  {
    background-color: $focus-color;
    border-color: $focus-color;
    i
    {
      color: $white;
    }
  }
}
.form-control.focus:hover::placeholder
{
  color: $white;
}
//select
.form-select:disabled
{
  border-color: $default-border-color;
  opacity: 0.4;
}
.form-select:hover:disabled
{
  border-color: $default-border-color;
  opacity: 0.4;
}
.wallpaper-container
{
  border-radius: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35em;
  width: 100%;
  background-repeat: repeat;
  background-size: cover;
  background-image: url('../images/validitron_background_tile_light.svg');
}
.wallpaper-container.wallpaper-dark
{
  background-image: url('../images/validitron_background_tile_dark.svg');
}