<div class="content-block ui-components-toggles-block bd-content">

  <h1 class="bd-title" id="content">Popover</h1>

  <div class="my-5">

    <h2 class="mb-2" id="popover">Examples<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#popover" style="padding-left: 0.375em;"></a></h2>

    <div class="content-container">

      <h4 class="mt-5 mb-3" id="popoverLeft">Popover Left<a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" href="#popoverLeft" style="padding-left: 0.375em;"></a></h4>

      <div class="bd-example mt-showcase">
        <button type="button" class="btn btn-primary" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="Here’ some amazing content for the Popover">Popover on right</button>
      </div>

      <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-bs-original-title="Copy to clipboard">Copy</button></div>
      <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">
<span class="p">&lt;</span><span class="nt">button</span> <span class="na">type</span><span class="o">=</span><span class="s">"button"</span> <span class="na">class</span><span class="o">=</span><span class="s">"btn btn-primary"</span> <span class="na">data-bs-content</span><span class="o">=</span><span class="s">"Here’ some amazing content for the Popover"</span> <span class="na">data-bs-trigger</span><span class="o">=</span><span class="s">"focus"</span> <span class="na">data-bs-toggle</span><span class="o">=</span><span class="s">"popover"</span> <span class="na">data-bs-placement</span><span class="o">=</span><span class="s">"right"</span><span class="p">&gt;</span>
  Popover on right
<span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
</code></pre></div>

    </div>

  </div>

</div>
